
{#
/**
 * @file
 * Bartik's theme implementation for a search form block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values, including:
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - content_attributes: A list of HTML attributes applied to the main content
 * - attributes: A list HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template. Includes:
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-search',
    'container-inline',
    'purposeful-search',
  ]
%}

{% block content %}
  {{ content }}
{% endblock %}

<div class="search_overlay"></div>
<div class="search-box">
  <div class="search-box-true">
    <div class="close-search">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <label>Fechar busca</label>
    </div>
    {% if mostSearchedTerms %}
    <div class="searched_words">
      <h4>Palavras mais pesquisadas</h4>
      <div class="link-list">
        {% for term in mostSearchedTerms %}
          <a class="top-searched-word" href="{{ url('<front>') }}/search/node?keys={{ term.q }}">
            {{ term.q }}
          </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    
    <div class="featured_content">
      <h4>Conteúdos em destaque hoje</h4>
      {% for node in mostViewedNodes %}
        <div class="table">
          <a href="{{ node.url }}">
            <div class="table_right">
              <h2>{{ node.title }}</h2>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>


    <div class="content_tag">
      <h4 class="emphasis">Tags em destaque</h4>
      <div class="tag-list">
        {% for tag in mostViewedNodesTags %}
          <a href="{{ url('<front>') }}/taxonomy/term/{{ tag.id }}"> {{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>

    <!--<div class="content_types">
      <h4>Tipos de Conteúdos</h4>
      <div class="link-list">
        {% for key, value in contentTypesList %}
          <a href="{{ url('<front>') }}/{{ key }}">{{ value }}</a>
        {% endfor %}
      </div>
    </div>-->
  </div>
</div>