{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <link rel="canonical" href="{{ canonical_url }}"/>
    <meta name="theme-color" content="#cccccc">
    <meta property="og:title" content="{{ head_title|safe_join(' | ') }}" />
    <meta property="og:description" content="{{ current_node.summary }}"/>
    <meta property="og:image" content="{{ current_node.image_url }}" />
    <meta property="og:locale" content="pt_BR" />
    <meta name="description" content="{{ current_node.summary }}"/>
    {% if is_front %}
      <meta name="facebook-domain-verification" content="43wouzas48vgsfyooblhiwipthud5xx" />
      <title>{{ head_title|safe_join(' | ') }}</title>
    {% else %}
      <title>{{ head_title['title'] }}</title>
    {% endif %}
    {% if current_node.keywords %}
      <meta name="keywords" content="{{ current_node.keywords }}" />
    {% endif %}
    <script>
      window.dataLayer = window.dataLayer || [];
      dataLayer.push({
        'event': 'Acesso Conteúdo',
        'ContentName': '{{ head_title|safe_join(' | ') }}',
        'ContentCategory': '{{ current_node.category }}',
        'ContentTags': '{{ current_node.tags }}',
        {% if user_id %}
        'visitorId': '{{ user_id }}',
        {% endif %}
      });
    </script>
    <!-- Google Tag Manager --> 
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-MQ3KPRL');</script> 
    <!-- End Google Tag Manager -->
  </head>
  <body{{ attributes }} id="status_{{ logged_in }}">
    <!-- Google Tag Manager (noscript) --> 
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQ3KPRL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
    <!-- End Google Tag Manager (noscript) -->
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
