{#
/**
 * @file
 * Bartik's theme implementation for a page title.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{%
  set classes = [
    'title',
    'page-title',
  ]
%}

{{ title_prefix }}
{% if title %}
  <h1{{ title_attributes.addClass(classes) }}>{{ title }}</h1>
  {% if subtitle %}
  	<p>{{ subtitle|raw}}</p>
  {% endif %}
  {% if denied %}
  	{{ denied }}
    {% if amb == 'monique-goncalves' %}
  		
    {% elseif amb == 'nestle-por-criancas-mais-saudaveis' %}
      
    {% endif %}
  {% endif %}
{% endif %}
{{ title_suffix }}
