{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header class="menu">
  <div class="logo">
      <a href="{{ url('<front>') }}">
          <img alt="Nestlé Com Você" title="Nestlé Com Você" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240132/TM/comvoce-gray_obdx4e.svg"/>
      </a>
  </div>
  <ul class="menu_options">
      <li><a href="{{ url('<front>') }}">Eu quero Nestlé</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/experiencias">Experiências</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/promocoes">Promoções</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/produtos">Produtos</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/pesquisas">Pesquisas</a></li>
  </ul>
  <div class="menu_mobile">
      <span></span>
      <span></span>
      <span></span>
  </div>
  {% if logged_in %}
    <div class="hello_logged">
        <div>Olá, {{ cut_username }}</div>
        <ul class="hello_logged_options">
            <li><a href="{{ url('<front>') }}painel/pedidos">Pedidos</a></li>
            <li><a href="{{ url('<front>') }}painel/identificacao">Identificação</a></li>
            <li><a href="{{ url('<front>') }}painel/entrega">Entrega</a></li>
            <li><a href="{{ url('<front>') }}painel/interesses">Interesses</a></li>
            <li><a href="{{ url('<front>') }}user/logout">Sair</a></li>
        </ul>
    </div>
  {% else %}
    <div class="hello_unlogged">
        <a href="{{ url('<front>') }}user/entrar" class="login_link">Fazer login</a>
        <a href="{{ url('<front>') }}user/registrar" class="create_link">Criar conta</a>
    </div>
  {% endif %}
</header>
<section class="home">
  <div class="follow_up_mobile">
    {% if logged_in %}
        <div><a href="{{ url('<front>') }}painel/pedidos">Pedidos</a></div>
        <div><a href="{{ url('<front>') }}painel/identificacao">Identificação</a></div>
        <div><a href="{{ url('<front>') }}painel/interesses">Interesses</a></div>
        <div><a href="{{ url('<front>') }}painel/entrega">Entrega</a></div>
    {% else %}
        <a href="{{ url('<front>') }}user/entrar" class="login_link">Fazer login</a>
        <a href="{{ url('<front>') }}user/registrar" class="create_link">Criar conta</a>
    {% endif %}
  </div>
  <div class="default_content">
      {% if page.highlighted %}
        <div class="highlighted">
          <aside class="layout-container section clearfix" role="complementary">
            {{ page.highlighted }}
          </aside>
        </div>
      {% endif %}



      <ul class="about_menu">
        <li>
          <a href="{{ url('<front>') }}detalhes/sobre">
            <span>Sobre</span>
          </a>
        </li>
        <li>
          <a href="{{ url('<front>') }}detalhes/politica-de-privacidade">
            <span>Política de Privacidade</span>
          </a>
        </li>
        <li class="active">
          <a href="{{ url('<front>') }}detalhes/duvidas-frequentes">
            <span>Dúvidas Frequentes</span>
          </a>
        </li>
        <li>
          <span class="close">Fechar</span>
          <span class="management_menu"></span>
        </li>
      </ul>
      <div class="questions_content">
        {{ page.content }}
        <img class="image_about" alt="Dúvidas Frequentes" title="Dúvidas Frequentes" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630007768/TM/faq_yjrwan.svg"/>
        <div class="question">
          <div class="question_label">
          <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed.</p>
          <span class="question_more"></span>
          <span class="question_less"></span>
          </div>
          <p class="question_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in odio eget erat tempus dapibus. Mauris sed imperdiet lectus. Nam faucibus mi lorem, in placerat magna molestie aliquam. Nullam vel elit ac mi egestas euismod. Donec in auctor velit. Maecenas imperdiet dignissim eleifend. Duis diam ante, ultrices eget orci ut, malesuada ultrices arcu. In sit amet dui eget velit venenatis imperdiet et a nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent at mattis arcu. Duis luctus vehicula tempor. Aliquam pharetra est non quam tincidunt, id consectetur justo aliquet.</p>
        </div>
        <div class="question">
          <div class="question_label">
          <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed.</p>
          <span class="question_more"></span>
          <span class="question_less"></span>
          </div>
          <p class="question_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in odio eget erat tempus dapibus. Mauris sed imperdiet lectus. Nam faucibus mi lorem, in placerat magna molestie aliquam. Nullam vel elit ac mi egestas euismod. Donec in auctor velit. Maecenas imperdiet dignissim eleifend. Duis diam ante, ultrices eget orci ut, malesuada ultrices arcu. In sit amet dui eget velit venenatis imperdiet et a nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent at mattis arcu. Duis luctus vehicula tempor. Aliquam pharetra est non quam tincidunt, id consectetur justo aliquet.</p>
        </div>
        <div class="question">
          <div class="question_label">
          <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed.</p>
          <span class="question_more"></span>
          <span class="question_less"></span>
          </div>
          <p class="question_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in odio eget erat tempus dapibus. Mauris sed imperdiet lectus. Nam faucibus mi lorem, in placerat magna molestie aliquam. Nullam vel elit ac mi egestas euismod. Donec in auctor velit. Maecenas imperdiet dignissim eleifend. Duis diam ante, ultrices eget orci ut, malesuada ultrices arcu. In sit amet dui eget velit venenatis imperdiet et a nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent at mattis arcu. Duis luctus vehicula tempor. Aliquam pharetra est non quam tincidunt, id consectetur justo aliquet.</p>
        </div>
      </div>
      <style>
        .region.region-highlighted, #block-nest-local-tasks {display: none;}
      </style>



  </div>
</section>
<footer>
  <ul class="information_footer">
      <li><a href="{{ url('<front>') }}detalhes/sobre">Sobre</a></li>
      <li><a href="{{ url('<front>') }}detalhes/politica-de-privacidade">Política de Privacidade</a></li>
      <li><a href="{{ url('<front>') }}detalhes/duvidas-frequentes">Dúvidas Frequentes</a></li>
  </ul>
  <div class="logo_footer">
      <img alt="Nestlé Com Você" title="Nestlé Com Você" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240133/TM/comvoce-white_tzphsg.svg"/>
  </div>
  <p>&copy;2021 Nestlé Brasil Ltda. Todos os direitos reservados.</p>
</footer>