{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header class="menu">
  <div class="logo">
      <a href="{{ url('<front>') }}">
          <img alt="Nestlé Com Você" title="Nestlé Com Você" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240132/TM/comvoce-gray_obdx4e.svg"/>
      </a>
  </div>
  <ul class="menu_options">
      <li><a href="{{ url('<front>') }}">Eu quero Nestlé</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/experiencias">Experiências</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/promocoes">Promoções</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/produtos">Produtos</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/pesquisas">Pesquisas</a></li>
  </ul>
  <div class="menu_mobile">
      <span></span>
      <span></span>
      <span></span>
  </div>
  {% if logged_in %}
    <div class="hello_logged">
        <div>Olá, {{ cut_username }}</div>
        <ul class="hello_logged_options">
            <li><a href="{{ url('<front>') }}painel/pedidos">Pedidos</a></li>
            <li><a href="{{ url('<front>') }}painel/identificacao">Identificação</a></li>
            <li><a href="{{ url('<front>') }}painel/entrega">Entrega</a></li>
            <li><a href="{{ url('<front>') }}painel/interesses">Interesses</a></li>
            <li><a href="{{ url('<front>') }}user/logout">Sair</a></li>
        </ul>
    </div>
  {% else %}
    <div class="hello_unlogged">
        <a href="{{ url('<front>') }}user/entrar" class="login_link">Fazer login</a>
        <a href="{{ url('<front>') }}user/registrar" class="create_link">Criar conta</a>
    </div>
  {% endif %}
</header>
<section class="home">
  <div class="follow_up_mobile">
    {% if logged_in %}
        <div><a href="{{ url('<front>') }}painel/pedidos">Pedidos</a></div>
        <div><a href="{{ url('<front>') }}painel/identificacao">Identificação</a></div>
        <div><a href="{{ url('<front>') }}painel/interesses">Interesses</a></div>
        <div><a href="{{ url('<front>') }}painel/entrega">Entrega</a></div>
    {% else %}
        <a href="{{ url('<front>') }}user/entrar" class="login_link">Fazer login</a>
        <a href="{{ url('<front>') }}user/registrar" class="create_link">Criar conta</a>
    {% endif %}
  </div>
  <div class="default_content">
      {% if page.highlighted %}
        <div class="highlighted">
          <aside class="layout-container section clearfix" role="complementary">
            {{ page.highlighted }}
          </aside>
        </div>
      {% endif %}





      <ul class="about_menu">
        <li class="active">
          <a href="{{ url('<front>') }}detalhes/sobre">
            <span>Sobre</span>
          </a>
        </li>
        <li>
          <a href="{{ url('<front>') }}detalhes/politica-de-privacidade">
            <span>Política de Privacidade</span>
          </a>
        </li>
        <li>
          <a href="{{ url('<front>') }}detalhes/duvidas-frequentes">
            <span>Dúvidas Frequentes</span>
          </a>
        </li>
        <li>
          <span class="close">Fechar</span>
          <span class="management_menu"></span>
        </li>
      </ul>
      <div class="about_content">
        {{ page.content }}
        <img class="image_about" alt="Sobre" title="Sobre" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630007768/TM/about_g6xkcd.svg"/>
        <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit. Suspendisse laoreet sapien sit amet lacus dignissim, et ultrices ante rhoncus. Phasellus ac maximus odio. Maecenas a quam a enim venenatis facilisis at eu metus. Suspendisse facilisis nec mi id ultrices. Ut placerat ultricies lacus in consequat.</p>
        <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit. Suspendisse laoreet sapien sit amet lacus dignissim, et ultrices ante rhoncus. Phasellus ac maximus odio. Maecenas a quam a enim venenatis facilisis at eu metus. Suspendisse facilisis nec mi id ultrices. Ut placerat ultricies lacus in consequat.</p>
        <div class="steps_about one">
          <img alt="Step 1" title="Step 1" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630007918/TM/step-1_ug28sq.svg">
          <p><span>1</span>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit.</p>
        </div>
        <div class="steps_about two">
          <img alt="Step 2" title="Step 2" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630007917/TM/step-2_gn9aws.svg">
          <p><span>2</span>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit.</p>
        </div>
        <div class="steps_about three">
          <img alt="Step 3" title="Step 3" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630007917/TM/step-3_fi1j5r.svg">
          <p><span>3</span>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit.</p>
        </div>
        <div class="steps_about four">
          <img alt="Step 4" title="Step 4" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630007917/TM/step-4_uomsyk.svg">
          <p><span>4</span>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit.</p>
        </div>
      <!--
        <div class="about_instagram">
          <h2>#Nestlé Com Você</h2>
          <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit.</p>
          <div class="about_publications">
            <div class="publication">
              <div class="profile_picture">
                <img alt="Instagram Nestlé" title="Instagram Nestlé" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240132/TM/avatar-instagram_qio0ev.jpg">
              </div>
              <figure>
                <img alt="Instagram Nestlé" title="Instagram Nestlé" class="main_image" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240135/TM/instagram_g3wnxf.jpg"/>
              </figure>
              <legend>
                <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed.</p>
              </legend>
            </div>
            <div class="publication">
              <div class="profile_picture">
                <img alt="Instagram Nestlé" title="Instagram Nestlé" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240132/TM/avatar-instagram_qio0ev.jpg">
              </div>
              <figure>
                <img alt="Instagram Nestlé" title="Instagram Nestlé" class="main_image" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240135/TM/instagram_g3wnxf.jpg"/>
              </figure>
              <legend>
                <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed.</p>
              </legend>
            </div>
          </div>
        </div>
      -->
        <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit. Suspendisse laoreet sapien sit amet lacus dignissim, et ultrices ante rhoncus. Phasellus ac maximus odio. Maecenas a quam a enim venenatis facilisis at eu metus. Suspendisse facilisis nec mi id ultrices. Ut placerat ultricies lacus in consequat.</p>
        <div class="brands_logo">
          {% for tag in page.brands %}
            <div>
              <img alt="{{ tag['#label'] }}" title="{{ tag['#label'] }}" src="{{ tag['#url'] }}"/>
            </div>
          {% endfor %}
        </div>
        <p class="advertising">Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit. Suspendisse laoreet sapien sit amet lacus dignissim, et ultrices ante rhoncus. Phasellus ac maximus odio. Maecenas a quam a enim venenatis facilisis at eu metus. Suspendisse facilisis nec mi id ultrices. Ut placerat ultricies lacus in consequat.</p>
        
        {% if logged_in %}
      
        {% else %}
          <div class="created_account_div">
            <a href="{{ url('<front>') }}user/registrar" class="created_account_link">Criar Conta</a>
          </div>
        {% endif %}

      </div>
      <style>
        .region.region-highlighted, #block-nest-local-tasks {display: none;}
      </style>







  </div>
</section>
<footer>
  <ul class="information_footer">
      <li><a href="{{ url('<front>') }}detalhes/sobre">Sobre</a></li>
      <li><a href="{{ url('<front>') }}detalhes/politica-de-privacidade">Política de Privacidade</a></li>
      <li><a href="{{ url('<front>') }}detalhes/duvidas-frequentes">Dúvidas Frequentes</a></li>
  </ul>
  <div class="logo_footer">
      <img alt="Nestlé Com Você" title="Nestlé Com Você" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240133/TM/comvoce-white_tzphsg.svg"/>
  </div>
  <p>&copy;2021 Nestlé Brasil Ltda. Todos os direitos reservados.</p>
</footer>