{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header class="menu">
  <div class="logo">
      <a href="{{ url('<front>') }}">
          <img alt="Nestlé Com Você" title="Nestlé Com Você" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240132/TM/comvoce-gray_obdx4e.svg"/>
      </a>
  </div>
  <ul class="menu_options">
      <li><a href="{{ url('<front>') }}">Eu quero Nestlé</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/experiencias">Experiências</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/promocoes">Promoções</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/produtos">Produtos</a></li>
      <li><a href="https://www.nestle.com.br/comvoce/pesquisas">Pesquisas</a></li>
  </ul>
  <div class="menu_mobile">
      <span></span>
      <span></span>
      <span></span>
  </div>
  {% if logged_in %}
    <div class="hello_logged">
        <div>Olá, {{ cut_username }}</div>
        <ul class="hello_logged_options">
            <li><a href="{{ url('<front>') }}painel/pedidos">Pedidos</a></li>
            <li><a href="{{ url('<front>') }}painel/identificacao">Identificação</a></li>
            <li><a href="{{ url('<front>') }}painel/entrega">Entrega</a></li>
            <li><a href="{{ url('<front>') }}painel/interesses">Interesses</a></li>
            <li><a href="{{ url('<front>') }}user/logout">Sair</a></li>
        </ul>
    </div>
  {% else %}
    <div class="hello_unlogged">
        <a href="{{ url('<front>') }}user/entrar" class="login_link">Fazer login</a>
        <a href="{{ url('<front>') }}user/registrar" class="create_link">Criar conta</a>
    </div>
  {% endif %}
</header>
<section class="home">
  <div class="follow_up_mobile">
    {% if logged_in %}
        <div><a href="{{ url('<front>') }}painel/pedidos">Pedidos</a></div>
        <div><a href="{{ url('<front>') }}painel/identificacao">Identificação</a></div>
        <div><a href="{{ url('<front>') }}painel/interesses">Interesses</a></div>
        <div><a href="{{ url('<front>') }}painel/entrega">Entrega</a></div>
    {% else %}
        <a href="{{ url('<front>') }}user/entrar" class="login_link">Fazer login</a>
        <a href="{{ url('<front>') }}user/registrar" class="create_link">Criar conta</a>
    {% endif %}
  </div>
  <div class="home_page_title">
      <h1>Teste produtos Nestlé sem pagar nada por isso</h1>
  </div>
  <div class="content_images_home">
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="layout-container section clearfix" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
    {% if logged_in %}
      <div class="carousel_options">
        <a href="#">Campanhas ativas</a>
      </div>
    {% else %}
      <div class="carousel_options">
        <a href="#">Campanhas ativas</a>
      </div>
    {% endif %}
    {{ page.content }}
  </div>
  <div class="how_it_works_home">
      <h2>Como Funciona</h2>
      <div class="how_it_works_number">
          <span>01</span>
          <img alt="Step 1" title="Step 1" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240136/TM/step-1_g9u80x.svg"/>
          <p>Crie sua conta no nosso site e escolha o produto que você quer receber gratuitamente em casa.</p>
      </div>
      <div class="how_it_works_number">
          <span>02</span>
          <img alt="Step 2" title="Step 2" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240137/TM/step-2_h18meg.svg"/>
          <p>Receba o seu pedido e experimente as principais novidades do catálogo Nestlé.</p>
      </div>
      <div class="how_it_works_number">
          <span>03</span>
          <img alt="Step 3" title="Step 3" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240137/TM/step-3_zzsulg.svg"/>
          <p>Avalie os produtos que você recebe e nos ajude a criar produtos ainda melhores.</p>
      </div>
      <div class="how_it_works_number">
          <span>04</span>
          <img alt="Step 4" title="Step 4" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240137/TM/step-4_rohrko.svg"/>
          <p>A cada avaliação, receba cupons especiais para comprar os seus produtos favoritos em nossa loja.</p>
      </div>
      {% if logged_in %}
      
      {% else %}
        <div class="how_it_works_information">
            <p>Gostou? Crie a sua conta agora e conheça uma nova forma de experimentar Nestlé.</p>
            <a href="{{ url('<front>') }}user/registrar">Criar Conta</a>
        </div>
      {% endif %}
  </div>
  <!--
  <div class="with_you">
      <h2>#NestléComVoce</h2>
      <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed. Aliquam erat volutpat. Aenean vulputate mattis felis vitae blandit.</p>
      <div class="with_you_instagram">
          <div class="post_instagram">
              <div class="profile_picture">
                  <img alt="Instagram Nestlé" title="Instagram Nestlé" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240132/TM/avatar-instagram_qio0ev.jpg"/>
              </div>
              <img alt="Instagram Nestlé" title="Instagram Nestlé" class="main_image" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240135/TM/instagram_g3wnxf.jpg"/>
              <div class="legend">
                  <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed.</p>
              </div>
          </div>
          <div class="post_instagram">
              <div class="profile_picture">
                  <img alt="Instagram Nestlé" title="Instagram Nestlé" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240132/TM/avatar-instagram_qio0ev.jpg"/>
              </div>
              <img alt="Instagram Nestlé" title="Instagram Nestlé" class="main_image" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240135/TM/instagram_g3wnxf.jpg"/>
              <div class="legend">
                  <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed.</p>
              </div>
          </div>
          <div class="post_instagram">
              <div class="profile_picture">
                  <img alt="Instagram Nestlé" title="Instagram Nestlé" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240132/TM/avatar-instagram_qio0ev.jpg"/>
              </div>
              <img alt="Instagram Nestlé" title="Instagram Nestlé" class="main_image" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240135/TM/instagram_g3wnxf.jpg"/>
              <div class="legend">
                  <p>Donec molestie efficitur felis, eleifend scelerisque velit finibus sed.</p>
              </div>
          </div>
      </div>
  </div>
  -->
  <div class="brands">
      <h2>As marcas que você mais gosta estão aqui.</h2>
      <p>A qualidade que você já conhece agora incluída em uma experiência totalmente nova de interações e vantagens.</p>
      <div class="brands_logo">
        {% for tag in page.brands %}
          <div>
              <img alt="{{ tag['#label'] }}" title="{{ tag['#label'] }}" src="{{ tag['#url'] }}"/>
            </div>
        {% endfor %}
      </div>
  </div>
</section>
<footer>
  <ul class="information_footer">
      <li><a href="{{ url('<front>') }}detalhes/sobre">Sobre</a></li>
      <li><a href="{{ url('<front>') }}detalhes/politica-de-privacidade">Política de Privacidade</a></li>
      <li><a href="{{ url('<front>') }}detalhes/duvidas-frequentes">Dúvidas Frequentes</a></li>
  </ul>
  <div class="logo_footer">
      <img alt="Nestlé Com Você" title="Nestlé Com Você" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627240133/TM/comvoce-white_tzphsg.svg"/>
  </div>
  <p>&copy;2021 Nestlé Brasil Ltda. Todos os direitos reservados.</p>
</footer>