<!-- Set variable to match order status with the respective id and description -->
{% set orderService = data.orderService %}

{% if (data.orders is not empty) %}

	<!-- Set object Order -->
	{% set orders = data.orders %}

	{% for order in orders %}
	
		<!-- Set Objects -->
		{% set campaign = order.getCampaign() %}
		{% set product = campaign.product_id.entity %}

		<!-- Set main fields -->
		{% set order_id = order.getId() %}
		{% set campaign_name = campaign.title.value %}
		{% set product_name = product.title.value %}
		{% set product_sku = product.sku.value %} <!-- variável do SKU do produto. Remova este comentário. -->
		{% set order_status_id = order.getStatus() %}
		{% set order_status_name = order.getStatusName() %}

		{% if (order.created.value is not empty) %}
			{% set order_date = order.created.value|date('d/m/Y') %}
		{% else %}
			{% set order_date = order.created.value %}
		{% endif %}

		{% set order_tracking_code = order.getTrackingCode() %}
		{% set order_event_code = order.getEventCode() %}
		{% set order_event_message = order.getEventMessage() %}

		{% if (order.getDeliveryDate() is not empty) %}
			{% set order_delivery_date = order.getDeliveryDate()|date('d/m/Y') %}
		{% else %}
			{% set order_delivery_date = order.getDeliveryDate() %}
		{% endif %}

		<!--
		Testa e prepara as variáveis para permitir Avaliar o pedido e
		também se foi avaliado, libera o Cupom.
		-->
		{% set waiting = false %}
		{% set let_rating = false %}
		{% set let_coupon = false %}

		<!-- esperando para poder avaliar -->
		{%
		if (order_status_id == orderService.getStatusByAlias('aguardando', 1)
			or
			order_status_id == orderService.getStatusByAlias('caminho', 1))
		%}
			{% set waiting = true %}
		{% endif %}

		<!-- Não avaliado -->
		{% if (order_status_id == orderService.getStatusByAlias('entregue', 1)) %}
			{% set let_rating = true %}
		{% endif %}
		
		<!-- Avaliado -->
		{% if (order_status_id == orderService.getStatusByAlias('avaliado', 1)) %}
			{% set let_coupon = true %}
			{% set coupon = order.customerCoupon.code.value %}
		{% endif %}
		
		<!-- TODO: Verificar o lance dos campos e dados para o cupom de desconto -->

		<div class="order-block">
			<div class="order-header">
				<div class="order-header-identify">
					<strong>{{campaign_name}}</strong><br/>
					{{product_name}}
				</div>
				<div class="order-header-status">
					<strong>Status:</strong>
					{{order_status_name}} 
					{% if (let_rating == true) %}
						<a href="/eqn/evaluate?order={{order_id}}">Avaliar agora</a>
					{% endif %}
					<br/>
					{% if (order_tracking_code is not empty) %}
						({{order_tracking_code}} {{order_delivery_date}} {{order_event_code}} {{order_event_message}})
					{% endif %}
				</div>
				<div class="order-header-action">
					<span class="order-header-action-more">Mais detalhes</span>
					<span class="order-header-action-less">Menos detalhes</span>
				</div>
			</div>
			<div class="order-middle">
				<div class="order-middle-date">
					<strong>Pedido em:</strong> {{order_date}}
				</div>
				<div class="order-middle-action">
					{% if (waiting == true) %}
						Você poderá avaliar o seu pedido assim que ele chegar.
					{% endif %}
					{% if (let_coupon == true) %}
						Você já avaliou este produto. Utilize o seu cupom <strong>{{ coupon }}</strong> no <a href="https://emporionestle.com.br" target="_blank">Empório Nestlé</a> para comprar o produto com um desconto especial.
					{% endif %}
					{% if (let_rating == true) %}
						Avalie o seu pedido para ganhar descontos especiais em nossa loja. <a href="/eqn/evaluate?order={{order_id}}">Avaliar agora</a>
					{% endif %}
				</div>
			</div>
		</div>

	{% endfor %}

{% else %}

	<div class="no-orders">
	Nenhum pedido encontrado.
	</div>

{% endif %}