<div class="for_you_home active">
  <div class="pictures owl-carousel">
      {% for campaign in data.campaigns %}
          {% set campaignImage = file_url(campaign.image.entity.uri.value) %}
          {% set author = campaign.user_id.entity %}
          {% set authorImage = file_url(author.user_picture.entity.getFileUri) %}

          <a href="{{ path('entity.trialmachine_campaign.canonical', {'trialmachine_campaign':  campaign.id.value}) }}">

              {% if (campaign.soldoff == TRUE) %}
                <div class="soldoff"><span>Esgotada</span></div>
              {% endif %}

              {% if (campaign.archived == TRUE) %}
                <div class="archived"><span>Encerrada</span></div>
              {% endif %}

              {% if (campaign.foryou == TRUE) %}
                <div class="foryou"><span>Para você</span></div>
              {% endif %}

              {% if (campaign.new == TRUE) %}
                <div class="new"><span>Novo</span></div>
              {% endif %}

              <div class="logo_content"><img alt="{{ author.name.value }}" title="{{ author.name.value }}" src="{{ authorImage }}"/></div>
              <div class="image">
                <img alt="{{ campaign.title.value }}" title="{{ campaign.title.value }}" src="{{ campaignImage }}"/>
              </div>
              <div class="content">
                <h2>{{ campaign.title.value }}</h2>
                <p>{{ campaign.summary.value }}</p>
                <span class="to_know">Eu quero</span>
                <span class="mob">Eu quero</span>
              </div> 
          </a>
      {% endfor %}
  </div>
</div>