{% set delivery_path = path('trialmachine_campaign.delivery') %}
<div id="auth-popup">
    <div class="close"></div>
    <h2>Para prosseguir, você precisa se identificar</h2>
    <p>Clique nos botões abaixo para fazer login ou criar uma conta no sistema de Eu Quero Nestlé.</p>
    <div class="auth-popup-buttons">
        <a href="{{ path('module_nestle_connect.form_login') }}?destination={{ delivery_path }}">
            Entrar
        </a>
        <a href="{{ path('module_nestle_connect.postsubmissionform') }}?destination={{ delivery_path }}">
            Criar conta
        </a>
    </div>
</div>