{% set campaign_url = path('entity.trialmachine_campaign.canonical', {'trialmachine_campaign': data.campaign.id.value}) %}
{% set login_page = path('module_nestle_connect.form_login') %}
<table>
    <tr>
        <th>Campanha</th>
        <th>Produto</th>
        <th>Peso</th>
        <th>Quantidade</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>{{ data.campaign.title.value }}</td>
        <td>{{ data.campaign.product_id.entity.title.value }}</td>
        <td>{{ data.campaign.product_id.entity.weight.value }}</td>
        <td>1</td>
        <td>R$ 0,00</td>
    </tr>
</table>
<div class="checkout-footer">
    <a class="back-to-campaign" href="{{ campaign_url }}">Voltar para página de campanha</a>
    {% if logged_in%}
        <a class="next-step" href="{{ path('trialmachine_campaign.delivery') }}">Avançar</a>
    {% else %}
        <a class="next-step" id="auth-button">Faça log in para continuar</a>
    {% endif %}
</div>        