<div class="checkout-reminder">
    <img src="{{ data.product_image }}" alt="{{ data.product_name }}" title="{{ data.product_name }}" />
    <div class="checkout-reminder-info">
        <h3>Você está solicitando</h3>
        <div class="checkout-reminder-info-detail">
            <strong>{{ data.campaign_name }}</strong>
            {{ data.product_name }} {{ data.product_weight }}
        </div>
    </div>
</div>