<img src="https://res.cloudinary.com/meeg-cloud/image/upload/v1627584143/TM/sucess_ufmrfw.svg" alt="Pedido realizado" title="Pedido realizado" class="confirmation-icon"/>
<p>Seu pedido de <strong>{{ data.product.title.value }}</strong> foi realizado com sucesso. Acompanhe novas atualizações através da sua <a href="{{ url('<front>') }}painel/pedidos">página de pedidos</a> dentro da sua conta no site e leia os avisos abaixo</p>
<ul>
	<li>Seu produto será enviado para o endereço cadastrado em até sete dias úteis. A partir de agora, não é mais possível alterar o seu endereço de recebimento.</li>
	<li>Após o recebimento do seu produto, você deverá avaliá-lo. O formulário de avaliação estará disponível na sua <a href="{{ url('<front>') }}painel/pedidos">lista de pedidos</a>.</li>
	<li>Use a hashtag #NestleComVocê caso queira postar sobre a sua experiência nas redes sociais.</li>
	<li>Fazendo avaliações dos produtos que você recebe, você poderá pedir novos produtos e ainda ganhará descontos para comprar os seus produtos favoritos no Empório Nestlé.</li>
</ul>