{% set product = elements['#trialmachine_campaign'].product_id.entity %}
{% set campaignImage = file_url(elements.image.0['#item'].entity.uri.value) %}
{% set productImage = file_url(product.image.entity.uri.value) %}
{% set startDate = elements.start_date[0]['#attributes']['datetime']|date('U')|format_date('custom', 'd/m/Y') %}
{% set startTime = elements.start_date[0]['#attributes']['datetime']|date('U')|format_date('custom', 'H:m') %}
{% set endDate = elements.end_date[0]['#attributes']['datetime']|date('U')|format_date('custom', 'd/m/Y') %}
{% set endTime = elements.end_date[0]['#attributes']['datetime']|date('U')|format_date('custom', 'H:m') %}
{% set author = elements.user_id[0]['#account'] %}
{% set authorImage = file_url(author.user_picture.entity.getFileUri) %}
<div class="campaign_page_title">
    <img class="image_campaign" alt="{{ elements.title.value }}" title="{{ elements.title.value }}" src="{{ campaignImage }}"/>
    <div class="presentation_campaign">
        <div class="logo_campaign">
            <p>Campanha por:</p>
            <!--{{ author.name.value }}-->
            <img alt="{{ author.name.value }}" title="{{ author.name.value }}" src="{{ authorImage }}"/>
        </div>
        <h1>{{ elements.title }}</h1>
        <div class="sample">
            <h4>O que eu vou receber</h4>
            <div>
                <img class="sample_image" alt="{{ product.title.value }}" title="{{ product.title.value }}" src="{{ productImage }}"/>
                <div class="sample_explanation">
                    <h4>{{ product.title.value }} R$ 0,00</h4>
                    <p>{{ product.description.value|raw }}</p>
                </div>
            </div>
            <a href="{{ path('trialmachine_campaign.mount_session', {'trialmachine_campaign': elements['#trialmachine_campaign'].id.value }) }}">Quero</a>
        </div>
    </div>
</div>
<div class="about_campaign">
    <h3>Sobre a Campanha</h3>
    {{ elements.description }}
    <h4>Duração</h4>
    <div class="time"></div>
    <p>De {{ startDate }} {{ startTime }} a {{ endDate }} {{ endTime }}</p>
    <a href="{{ path('trialmachine_campaign.mount_session', {'trialmachine_campaign': elements['#trialmachine_campaign'].id.value }) }}">Quero</a>
</div>