<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<table style="width: 70%;margin: auto;text-align: center; max-width: 600px;">
	<tr>
		<td colspan="3" style="text-align: center; padding-top: 60px;">
			<img src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630010184/TM/confirmation_e-mail_ilnoyw.png" style="max-width: 300px;">
		</td>
	</tr>
	<tr>
		<td colspan="3" style="font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 24px;line-height: 32px; padding-top: 30px;">Olá, #NOME#.</td>
	</tr>
	<tr>
		<td colspan="3" style="font-family: 'Ubuntu', sans-serif; font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">Você está bem perto de poder solicitar produtos gratuitamente através do serviço <strong style="font-weight: 700;">Eu Quero Nestlé</strong>. Clique no botão abaixo para confirmar o seu cadastro.</td>
	</tr>
	<tr>
		<td colspan="3" style="padding: 30px 0px 0px 15px;"><a href="https://#DOMINIO#token=#TOKEN#&TipoSolicitacao=#TIPOSOLICITACAO#"><button style="border:0px;padding:20px 30px;background-color: #2D3A9E;color: #ffffff;font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 16px;line-height: 24px;border-radius: 20px;outline:0px; cursor:pointer; text-transform: uppercase;">Ativar meu cadastro</button></a></td>
	</tr>
	<tr>
		<td colspan="3" style="padding:15px; text-align:center; border-bottom:2px solid #DCDFF4;">
		</td>	
	</tr>
	<tr>
		<td colspan="3" style="font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
		Não fez o pedido? Então, <a style="text-decoration: none;color: #39BAE8; border-bottom: 2px solid #39BAE8;" href="https://#DOMINIO#token=#TOKEN#&TipoSolicitacao=#TIPOSOLICITACAO#">clique aqui</a></td>
	</tr>
	<tr>
		<td colspan="3" style="padding:15px; text-align:center; border-bottom:2px solid #EDEDED;">
		</td>	
	</tr>
	<tr>
		<td colspan="3" style="padding:30px; text-align:center;">
			<img style="width: 200px;" alt="Nestlé Com Você" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1629836778/TM/comvoce-blue_lrbu2p.png">
		</td>	
	</tr>

	<tr>
		<td colspan="3" style="padding:10px;font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top:0px; font-size: 16px;line-height: 24px;">
			E-mail enviado por Eu Quero Nestlé, um serviço Nestlé Com Você.
		</td>	
	</tr>
</table>

