<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<table cellpadding="0" cellspacing="0" style="width: 70%;margin: auto;text-align: center; max-width: 600px;">
	<tr>
		<td colspan="3" style="font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 24px;line-height: 32px; padding-top: 30px;">Olá, {{ nome.usuario }}.</td>
	</tr>
	<tr>
		<td colspan="3" style="font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">O seu pedido acaba de ser realizado. Nós avisaremos no seu e-mail quando a entrega sair de nossos estoques para ir até a sua casa.</td>
	</tr>
	<tr>
		<td colspan="3" style="padding:10px; text-align:center;">
			&nbsp;
		</td>	
	</tr>
	<tr>
		<td style="border-radius: 20px 0px 0px 20px;padding: 20px; background-color: #DCDFF4; ">
			<img style="width: 100px; border-radius: 10px;" src="https://hiperideal.vteximg.com.br/arquivos/ids/189936-1000-1000/2094916.jpg" alt="Nome do Produto" title="Nome do Produto" />
		</td>
		<td style="padding: 20px; background-color: #DCDFF4; font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
			01 unidade de <strong>Nome do Produto</strong> 12g
		</td>
		<td style="border-radius: 0px 20px 20px 0px;padding: 20px; background-color: #DCDFF4; font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;"><strong>Status:</strong> aguardando envio</td>
	</tr>
	<tr>
		<td colspan="3" style="padding:15px; text-align:center; border-bottom:2px solid #DCDFF4;">
		</td>	
	</tr>
	<tr>
		<td colspan="3" style="padding:30px; text-align:center;">
			<img style="width: 200px;" alt="Nestlé Com Você" src="https://res.cloudinary.com/meeg-cloud/image/upload/v1629836778/TM/comvoce-blue_lrbu2p.png">
		</td>	
	</tr>

	<tr>
		<td colspan="3" style="padding:10px;font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top:0px; font-size: 16px;line-height: 24px;">
			E-mail enviado por Eu Quero Nestlé, um serviço Nestlé Com Você.
		</td>	
	</tr>
</table>

