{% if fullContent %}
{% for node in nodes %}
<div class="block_contents_for_you_today">
  <a href="{{ node.url }}" class="section_content_item default-block {{ (node.sticky) ? 'fixed' : '' }} age_{{ node.tags.faixa_etaria.0.name|lower|replace({'-': '_', ' ': ''}) }}">
    <div class="line_01_up">
        {% if node.read %}
          <strong>Já lido</strong>
        {% endif %}
      <img src="{{ node.picture }}">
    </div>
    <div class="line_01_down">
      <h2>
        {{ node.title }}
      </h2>
      {% if node.summary %}
      <p>
        {{ node.summary }}
      </p>
      {% endif %}
      <!-- <label> -->
        <!-- Leitura de 2 minutos -->
      <!-- </label> -->
      <div class="metatags">
        <!--<span class="type">
          {{ node.type }}
        </span>-->
        <!-- Se tiver multiplas tags -->
        {% if node.tags.interesses|length > 1 %}
        <span class="tag">
          {{ node.tags.interesses[0].name }} 
        </span>
        <strong>
          +{{ node.tags.interesses|length - 1 }}
        </strong>
        <!-- Se tiver apenas uma tag -->
        {% elseif node.tags.interesses|length == 1  %}
          <span class="tag">
            {{ node.tags.interesses[0].name }}
          </span>
        {% endif %}
      </div>
    </div>
  </a>
</div>
{% endfor %}
{% else %}
  <section class="today_contents" id="conteudos-hoje">
      <div class="section_guide">
        <div>
          {% if altHome %}
            <h2>Conteúdos em destaque hoje:</h2>
          {% else %}      
            <h2>Conteúdos para você hoje:</h2>
          {% endif %}
          {% if logged_in %}
            
            <div class="guide_tags age_{{ ageTags.label|replace({'-': '_', ' ': '', '+': ''}) }}">
              {% if ageTags %}
                <div class="tag_age">
                  {{ ageTags.label|replace('-', 'a') }} Anos
                </div>
              {% endif %}
              {% if interestTags %}
                {% if interestTags.labels|length > 3 %}
                  {% for tag in interestTags.labels|slice(0, 2) %}
                  <div> 
                    {{ tag }}
                  </div>
                  {% endfor %}
                  <!-- Falta CSS -->
                  <strong>+ {{ interestTags.labels|length - 3 }}</strong>
                {% else %}
                  {% for tag in interestTags.labels %}
                  <div> 
                    {{ tag }}
                  </div>
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
            <a href="#conteudos-hoje" class="config open_interests">Clique aqui e escolha sobre o que você quer ler</a>
            {% else %}
              <a href="/user/entrar" class="config">Faça login e escolha o que você quer ler</a>
            {% endif %}
          </div>
      </div>
      <div class="owl-carousel owl-carousel1 owl-theme section_content">
        {% for node in nodes %}
          <a href="{{ node.url }}" class="section_content_item default-block {{ (node.sticky) ? 'fixed' : '' }} age_{{ node.tags.faixa_etaria.0.name|lower|replace({'-': '_', ' ': ''}) }}">
            <div class="line_01_up">
                {% if node.read %}
                  <strong>Já lido</strong>
                {% endif %}
              <img src="{{ node.picture }}">
            </div>
            <div class="line_01_down">
              <h2>
                {{ node.title }}
              </h2>
              <!-- <label> -->
                <!-- Leitura de 2 minutos -->
              <!-- </label> -->
              <div class="metatags">
                <!--<span class="type">
                  {{ node.type }}
                </span>-->
                <!-- Se tiver multiplas tags -->
                {% if node.tags.interesses|length > 1 %}
                <span class="tag">
                  {{ node.tags.interesses[0].name }} 
                </span>
                <strong>
                  +{{ node.tags.interesses|length - 1 }}
                </strong>
                <!-- Se tiver apenas uma tag -->
                {% else %}
                  <span class="tag">
                    {{ node.tags.interesses[0].name }}
                  </span>
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
        {% if showMore %}
          {% set url = url('<current>') %}
       
          {% if 'age_filter' in url|render|render %}
            <a class="more-items" href="{{ url }}/conteudos">
              <span>Ver tudo</span>
            </a>
          {% else %}
            <a class="more-items" href="{{ url('<front>') }}/lista/conteudos">
              <span>Ver tudo</span>
            </a>
          {% endif %}
        {% endif %}
    </div>
  </section>
{% endif %}


    
    