<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<table style="width: 70%;margin: auto;text-align: center; max-width: 600px;">

  <!-- EMAIL BLOCK TRACKING CODE OK -->
  {% if (message.mail_key == 'tracking_code_ok') %}
  <tr>
    <td colspan="3" style="text-align: center; padding-top: 60px;">
      <img src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630010184/TM/tracking_code_rofzue.png" style="max-width: 300px;">
    </td>
  </tr>
  <tr>
    <td colspan="3"
      style="font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 24px;line-height: 32px; padding-top: 30px;">
      Olá, {{ message.recipient_name }}.</td>
  </tr>
  <tr>
    <td colspan="3"
      style="font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
      Seu <strong>{{ message.product_name }} {{ message.product_weight}}</strong> já está a caminho. Você pode
      acompanhar o envio através
      do código <strong>{{ message.tracking_code }}</strong> em nosso site ou no site dos Correios.</td>
  </tr>
  <tr>
    <td colspan="3" style="padding: 30px 0px 0px 15px;"><a href="{{ url('<front>') }}painel/pedidos"><button
          style="border:0px;padding:20px 30px;background-color: #2D3A9E;color: #ffffff;font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 16px;line-height: 24px;border-radius: 20px;outline:0px; cursor:pointer; text-transform: uppercase;">Acompanhar</button></a>
    </td>
  </tr>
  {% endif %}
  <!-- /// -->

  <!-- EMAIL BLOCK TRACKING CODE UPDATED -->
  {% if (message.mail_key == 'tracking_code_update') %}
  <tr>
    <td colspan="3" style="text-align: center; padding-top: 60px;">
      <img src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630010184/TM/tracking_code_rofzue.png" style="max-width: 300px;">
    </td>
  </tr>
  <tr>
    <td colspan="3"
      style="font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 24px;line-height: 32px; padding-top: 30px;">
      Olá, {{ message.recipient_name }}.</td>
  </tr>
  <tr>
    <td colspan="3"
      style="font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
      O seu código de rastreio mudou. Acompanhe o seu pedido de <strong>{{ message.product_name }}
        {{ message.product_weight}}</strong> através do novo código <strong>{{ message.tracking_code }}</strong> em
      nosso site ou no site dos Correios.
    </td>
  </tr>
  <tr>
    <td colspan="3" style="padding: 30px 0px 0px 15px;"><a href="{{ url('<front>') }}painel/pedidos"><button
          style="border:0px;padding:20px 30px;background-color: #2D3A9E;color: #ffffff;font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 16px;line-height: 24px;border-radius: 20px;outline:0px; cursor:pointer; text-transform: uppercase;">Acompanhar</button></a>
    </td>
  </tr>
  {% endif %}
  <!-- /// -->

  <!-- EMAIL BLOCK DELIVERY OK -->
  {% if (message.mail_key == 'delivered_ok') %}
    <tr>
      <td colspan="3" style="text-align: center; padding-top: 60px;">
        <img src="https://res.cloudinary.com/meeg-cloud/image/upload/v1630010252/TM/delivery_ucp5sn.png" style="max-width: 300px;">
      </td>
    </tr>
    <tr>
      <td colspan="3"
        style="font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 24px;line-height: 32px; padding-top: 30px;">
        Olá, {{ message.recipient_name }}.</td>
    </tr>
    <tr>
    <td colspan="3"
      style="font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
      Seu <strong>{{ message.product_name }} {{ message.product_weight}}</strong> acabou de chegar.
      Aproveite!<br /><br />Depois, lembre
      de avaliar o produto clicando no botão abaixo. A sua avaliação renderá cupons de desconto para que você utilize na
      compra de seus produtos favoritos.</td>
  </tr>
  <tr>
    <td colspan="3" style="padding: 30px 0px 0px 15px;"><a
        href="{{ url('<front>') }}eqn/evaluate?order={{ message.order_id }}"><button
          style="border:0px;padding:20px 30px;background-color: #2D3A9E;color: #ffffff;font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 16px;line-height: 24px;border-radius: 20px;outline:0px; cursor:pointer; text-transform: uppercase;">Avaliar
          produto</button></a></td>
  </tr>
  {% endif %}
  <!-- /// -->

  <!-- EMAIL BLOCK CHECKOUT CONFIRMATION -->
  {% if (message.mail_key == 'checkout_confirmation') %}
    
  <tr> 
    <td colspan="3" style="font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 24px;line-height: 32px; padding-top: 30px;">
      Olá, {{ message.recipient_name }}.
    </td> 
  </tr> 
  <tr> 
    <td colspan="3" style="font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
      O seu pedido acaba de ser realizado. Nós avisaremos no seu e-mail quando a entrega sair de nossos estoques para ir até a sua casa.
    </td> 
  </tr>
  <tr> 
    <td colspan="3" style="padding:10px; text-align:center;">
     &nbsp; 
    </td> 
  </tr> 
  <tr> 
    <td style="border-radius: 20px 0px 0px 20px;padding: 20px; background-color: #DCDFF4; "> 
      <img style="width: 100px; border-radius: 10px;" src="{{message.product_image.src}}" alt="{{message.product_name}}" title="{{message.product_name}}" /> 
    </td> 
    <td style="padding: 20px; background-color: #DCDFF4; font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;"> 
      01 unidade de <strong>{{message.product_name}}</strong> {{message.product_weight}} 
    </td> 
    <td style="border-radius: 0px 20px 20px 0px;padding: 20px; background-color: #DCDFF4; font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 30px;font-size: 16px;line-height: 24px;">
      <strong>Status:</strong> aguardando envio
    </td> 
  </tr>       
      
  {% endif %}
  <!-- /// -->

  <!-- EMAIL BLOCK WHEN IT ONLY HAS A BODY TEXT -->
  {% if (message.mail_key is empty) %}
  <tr>
    <td colspan="3"
      style="font-family: 'Ubuntu', sans-serif;font-weight: 700;text-align: center;font-size: 24px;line-height: 32px; padding-top: 30px;">
      {{ body }}
    </td>
  </tr>
  {% endif %}
  <!-- /// -->

  <tr>
    <td colspan="3" style="padding:15px; text-align:center; border-bottom:2px solid #DCDFF4;">
    </td>
  </tr>
  <tr>
    <td colspan="3" style="padding:30px; text-align:center;">
      <img style="width: 200px;" alt="Nestlé Com Você"
        src="https://res.cloudinary.com/meeg-cloud/image/upload/v1629836778/TM/comvoce-blue_lrbu2p.png">
    </td>
  </tr>
  <tr>
    <td colspan="3"
      style="padding:10px;font-family: 'Ubuntu', sans-serif;font-weight: 300;text-align: center;padding-top: 0px;font-size: 16px;line-height: 24px;">
      E-mail enviado por Eu Quero Nestlé, um serviço Nestlé Com Você.
    </td>
  </tr>
</table>
