
{% set tags = [] %}
{% for field_tag in row._entity.field_tag_interesses %}
    {% set tags = tags|merge([field_tag.entity.label]) %}
{% endfor %}


{% if tags|length > 1 %}
    <span class="tag">{{ tags[0] }}</span>
    <strong> + {{ tags|length - 1 }}</strong>
{% else %}
    <span class="tag">{{ tags }}</span>
{% endif %} 