{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

<div class="index_filters">
	<p>196 resultados</p>
	<p>Filtrar</p>
	<div><input type="radio" name="">1 - 2 anos</div>
	<div><input type="radio" name="">3 - 4 anos</div>
	<div><input type="radio" name="">5 - 6 anos</div>
	<div><input type="radio" name="">7 - 8 anos</div>
	<div><input type="radio" name="">9+anos</div>
	<a href="#filter">+Filtros</a>
	<a href="#filter">-Filtros</a>
</div>
<div class="result_filter" id="filter">
	<div class="age_result_filter">
		<p>Idade</p>
		<div><input type="radio" name="">1 - 2 anos</div>
		<div><input type="radio" name="">3 - 4 anos</div>
		<div><input type="radio" name="">5 - 6 anos</div>
		<div><input type="radio" name="">7 - 8 anos</div>
		<div><input type="radio" name="">+9 anos</div>
	</div>
	<div class="filter_content_type">
		<p>Tipo de Conteúdo</p>
		<div><input type="radio" name="">Textos</div>
		<div><input type="radio" name="">Vídeos</div>
		<div><input type="radio" name="">Podcasts</div>
		<div><input type="radio" name="">Fóruns</div>
	</div>
	<div class="containing_word">
		<div class="filter_word">
			<p>Contendo a(s) palavras</p>
			<input type="text" name="filter_word">
		</div>
		<div class="filter_not_word">
			<p>Não contendo a(s) palavra(s)</p>
			<input type="text" name="filter_not_word">
		</div>
		<button>Filtrar</button>
	</div>
</div>

<div class="index_contents">
	{% if title %}
	  <h3>{{ title }}</h3>
	{% endif %}
	{% for row in rows %}
	  {%
	    set row_classes = [
	      default_row_class ? 'views-row',
	    ]
	  %}
	  <div{{ row.attributes.addClass(row_classes) }}>
	    {{- row.content -}}
	  </div>
	{% endfor %}
</div>
