{% for order in data.orders %}

<!-- fields for the view -->
{% set order_id = order.id.value %}
{% set order_date = order.created.value|date('d/m/Y') %}
{% set order_status = order.statusName %}
{% set campaign_name = order.campaign.title.value %}
{% set product_name = order.campaign.product_id.entity.title.value %}

<div class="short_content">
    <img src="https://res.cloudinary.com/meeg-cloud/image/upload/v1629393685/TM/erro_02_afpy88.svg" alt="Você não pode realizar este pedido" alt="Você não pode realizar este pedido">
    <h1>Você não pode realizar este pedido agora</h1>
    <p>O seu pedido do produto <strong>{{ product_name }}</strong>, realizado em {{ order_date }}, ainda não chegou até você. Aguarde a chegada e avalie o recebido antes de solicitar novos produtos.</p>
    <a href="/painel/pedidos">Confira seus pedidos</a>
</div>

{% endfor %}