{% for order in data.orders %}

<!-- fields for the view -->
{% set order_id = order.id.value %}
{% set order_date = order.created.value|date('d/m/Y') %}
{% set order_status = order.statusName %}
{% set campaign_name = order.campaign.title.value %}
{% set product_name = order.campaign.product_id.entity.title.value %}

<div class="short_content">
    <img src="https://res.cloudinary.com/meeg-cloud/image/upload/v1629393685/TM/erro_03_g43izr.svg" alt="Você não pode realizar este pedido" alt="Você não pode realizar este pedido">
    <h1>Você não pode realizar este pedido agora</h1>
    <p>Parece que você ainda não avaliou o produto <strong>{{ product_name }}</strong>, que você recebeu recentemente. Faça a avaliação antes de realizar novos pedidos.</p>
    <a href="/eqn/evaluate?order={{ order_id }}">Avaliar agora</a>
</div>

{% endfor %}