<!-- object order -->
{% set order = data.order %}

<!-- fields for the view -->
{% set order_id = order.id.value %}
{% set order_date = order.created.value|date('d/m/Y') %}
{% set order_status = order.statusName %}
{% set campaign_name = order.campaign.title.value %}
{% set product_name = order.campaign.product_id.entity.title.value %}



<div class="short_content">
	<img src="https://res.cloudinary.com/meeg-cloud/image/upload/v1629393685/TM/erro_01_cxzr4x.svg" alt="Você não pode realizar este pedido" alt="Você não pode realizar este pedido">
	<h1>Você não pode realizar este pedido</h1>
	<p>Você já realizou um pedido do produto <strong>{{ product_name }}</strong> através da campanha <strong>{{ campaign_name }}</strong> no dia {{ order_date }}. Tente fazer um pedido em uma campanha da qual você ainda não participou.</p>
	<a href="/">Voltar à página inicial</a>
</div>