@import url ('https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1.900 & display = swap ');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
  --title: 60px;
  --sub_title: 40px;
  --body_max: 20px;
  --body: 18px;
  --detail: 16px;
  --detail_min: 12px;
  --item-space-1: 20px;
  --item-space-2: 40px;
  --item-space-3: 60px;
  --item-space-4: 80px;
  --item-space-5: 120px;
  --line-height: 1em;
  --line-height-2: 1.5em;
  --red: #FD5050;
  --green: #35CE8D;
  --green_ball: #0CAD35;
  --baby_pink: #FF7E4D;
  --orange: #F0AD00;
  --lightgray: #EAEAEA;
  --gray: #DCDFF4;
  --white: #ffffff;
  --blue: #2D3A9E;
  --lightblue: #39BAE8;
  --black: #000000;
  --pink: #FF6997;
  --lightpink: #FF82A9;
  --oswald: 'Oswald', sans-serif;
  --ubuntu: 'Ubuntu', sans-serif;
  --default_radius: 20px;
  --radius_min: 10px;
}
body *{
  font-family: var(--ubuntu);
  line-height: var(--line-height);
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
}
section.home{
  width: 100%;
  overflow: hidden;
}
header.menu{
  overflow: hidden;
  padding: var(--item-space-1);
  background-color: lightgray;
}
header.menu .logo{
  width: 220px;
  float: left;
}
header.menu .logo a{
  display: block;
}
header.menu ul.menu_options{
  width: calc(100% - 700px);
  float: left;
  margin: 0px 30px 0px 30px;
  list-style: none;
  padding-left: 0px;
  padding-top: 15px;
}
header.menu ul.menu_options li{
  display: inline-block;
  margin-left: 15px;
}
header.menu ul.menu_options li:nth-child(1){
  margin-left: 0px;
}
header.menu ul.menu_options li a{
  color: gray;
  font-size: var(--detail);
  text-decoration: none;
  text-transform: uppercase;
}
header.menu ul.menu_options li:nth-child(1){
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
header.menu ul.menu_options li:nth-child(1) a:hover{
  text-decoration: none;
}
header.menu ul.menu_options li a:hover{
  text-decoration: underline;
}
header.menu .menu_mobile,
.follow_up_mobile{
  display: none;
}
.follow_up_mobile div a {
  display: block;
}
header.menu .hello_logged,
header.menu .hello_unlogged{
  width: 320px;
  float: right;
  padding-top: 15px;
}
.follow_up_mobile{
  text-align: center;
}
.follow_up_mobile a.login_link,
header.menu .hello_unlogged a.login_link{
  color: var(--blue);
  font-size: var(--body);
  border-radius: var(--default_radius);
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid var(--blue);
  padding: var(--item-space-1);
  margin: 0px 5px 0px 0px;
}
header.menu .hello_unlogged a.login_link{
  padding: 10px 15px!important;
}
header.menu .hello_unlogged a:hover{
  background-color: var(--lightblue)!important;
  color: white;
}
.short_content{
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0px auto;
  padding: 200px 0px 200px 0px;
}
.short_content h1{
  font-size: var(--title);
  margin: 0px 0px 30px 0px;
}
.short_content p{
  font-size: var(--body);
  margin: 0px;
}
.short_content img{
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 0px 0px 30px 0px;
}
.short_content a{
  margin: 30px 0px 0px 0px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  background-color: gray;
  padding: 10px 15px;
  text-decoration: none;
}
.short_content a:hover{
  background-color: lightgray;
}
.about_menu{
  float:left; 
  width: 30%;
  position: sticky;
  z-index: 5;
  top: 50%;
  margin: 0px;
  padding: 150px var(--item-space-2);
  transition: all 0.5s;
}
._user_registrar .js-form-submit.form-submit{
  transition: all 0.5s;
}
._user_registrar .js-form-submit.form-submit.disabled{
  cursor: no-drop;
  opacity: 30%;
  transition: all 0.5s;
}
.about_menu li{
  width: 100%;
  list-style: none;
  padding: 0px 0px var(--item-space-2) 0px;
}
._painel_interesses .about_menu li{
  padding-bottom: 0px!important;
}
.about_menu li:nth-child(1) a:after{
  content: "";
  display: inline-block;
  float: left;
  background-image: url('../images/about_blue.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  background-repeat: no-repeat;
  background-position: left;
}
.about_menu li.active:nth-child(1) a:after{
  background-image: url('../images/about_pink.svg');
}
.about_menu li:nth-child(2) a:after{
  content: "";
  display: inline-block;
  float: left;
  background-image: url('../images/privacy_blue.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  background-repeat: no-repeat;
  background-position: left;
}
.about_menu li.active:nth-child(2) a:after{
  background-image: url('../images/privacy_pink.svg');
}
.about_menu li:nth-child(3) a:after{
  content: "";
  display: inline-block;
  float: left;
  background-image: url('../images/faq_blue.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  background-repeat: no-repeat;
  background-position: left;
}
.about_menu li.active:nth-child(3) a:after{
  background-image: url('../images/faq_pink.svg');
}
.about_menu li span.management_menu{
  content: "";
  float: left;
  background-image: url('../images/arrow_blue.svg');
  background-size: 20px;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: left;
  display: none;
}
.about_menu.panel li:nth-child(1) a:after{
  content: "";
  display: inline-block;
  float: left;
  background-image: url('../images/orders_blue.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  background-repeat: no-repeat;
  background-position: left;
}
._painel_pedidos .about_menu.panel li:nth-child(1) a:after{
  background-image: url('../images/orders_pink.svg');
}
.about_menu.panel li:nth-child(2) a:after{
  content: "";
  display: inline-block;
  float: left;
  background-image: url('../images/user_blue.svg');
  background-size: 94%;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  background-repeat: no-repeat;
  background-position: left;
}
._painel_identificacao .about_menu.panel li:nth-child(2) a:after{
  background-image: url('../images/user_pink.svg');
}
.about_menu.panel li:nth-child(3) a:after{
  content: "";
  display: inline-block;
  float: left;
  background-image: url('../images/like_blue.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  background-repeat: no-repeat;
  background-position: left;
}
._painel_interesses .about_menu.panel li:nth-child(3) a:after{
  background-image: url('../images/like_pink.svg');
}
.about_menu.panel li:nth-child(4) a:after{
  content: "";
  display: inline-block;
  float: left;
  background-image: url('../images/delivery_blue.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  background-repeat: no-repeat;
  background-position: left;
}
._painel_entrega .about_menu.panel li:nth-child(4) a:after{
  background-image: url('../images/delivery_pink.svg');
}
._painel_pedidos .about_menu.panel li:nth-child(1) a span,
._painel_identificacao .about_menu.panel li:nth-child(2) a span,
._painel_interesses .about_menu.panel li:nth-child(3) a span,
._painel_entrega .about_menu.panel li:nth-child(4) a span{
  color: var(--pink);
}
._painel_pedidos .about_menu.panel li:nth-child(1) a, 
._painel_identificacao .about_menu.panel li:nth-child(2) a, 
._painel_interesses .about_menu.panel li:nth-child(3) a, 
._painel_entrega .about_menu.panel li:nth-child(4) a{
  background-color: var(--gray);
  border-radius: var(--radius_min);
}
.about_menu.active li span.management_menu{
  transform: rotate(180deg);
}
.about_menu.panel li.active{
  background-color: black;
  border-radius: 5px;
  border-bottom: 0px!important;
}
.about_menu.panel li.active span{
  color: pink!important;
}
.about_menu li.active a span{
  color: var(--pink)!important;
}
.about_menu li a{
  display: inline-block;
  width: 100%!important;
  text-decoration: none;
  padding: 0px var(--item-space-2) var(--item-space-1) var(--item-space-2);
}
.about_menu.panel li a{
  padding: var(--item-space-2);
}
.about_menu li a:hover span{
  color: black;
}
.about_menu li.active a{
  background-color: var(--gray);
  border-radius: var(--default_radius);
  padding: var(--item-space-2);
}
.about_menu li span{
  text-transform: uppercase;
  font-size: var(--body);
  color: var(--blue);
  padding-left: var(--item-space-1);
}
.about_menu li span.close{
  display: none;
}
.about_content,
.policy_content,
.questions_content{
  float:left; 
  width: 70%;
}
.about_content,
.policy_content,
.questions_content{
  padding: var(--item-space-2) var(--item-space-2) var(--item-space-5) 0px;
}
.policy_content .update{
  width: calc(100% - 300px);
  margin: var(--item-space-2) 150px 0px 150px;
  font-size: var(--body);
}
.policy_content p{
  font-size: var(--body);
  line-height: 1.5em;
  width: calc(100% - 300px);
  margin: var(--item-space-2) 150px 0px 150px;
}
.policy_content h2{
  font-size: var(--sub_title);
  font-family: var(--oswald);
  width: calc(100% - 300px);
  margin: var(--item-space-2) 150px 0px 150px;
}
.about_content h1,
.policy_content h1,
.questions_content h1{
  text-align: left!important;
  width: calc(100% - 300px);
  margin: 0px 150px var(--item-space-2) 150px!important;
  font-family: var(--oswald);
}
.image_about{
  width: 100%;
  height: auto;
}
.about_content p{
  font-size: var(--body);
  line-height: 1.5em;
  margin: var(--item-space-2) 150px 0px 150px;
  width: calc(100% - 300px);
}
.question{
  width: calc(100% - 300px);
  background-color: var(--gray);
  margin: var(--item-space-2) 150px 0px 150px;
  overflow: hidden;
  border-radius: var(--default_radius);
}
.question_label,
.question_content{
  width: 100%;
  margin: 0px;
  font-size: var(--body);
  line-height: 1.5em;
  overflow: hidden;
  padding: var(--item-space-2);
}
.question_label p{
  font-size: var(--body);
  line-height: 1.5em;
  font-weight: 600;
  float: left;
  width: calc(100% - 62px);
  margin: 0px;
  display: inline-block;
}
.question_content{
  padding: 0px var(--item-space-2) var(--item-space-2) var(--item-space-2)!important;
}
.question_label{
  width: 100%;
  position: relative;
  font-size: var(--body_max);
}
.question_content{
  padding: var(--item-space-2)
}
.question_more,
.question_less{
  float: right;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
.question_more{
  background-image: url('../images/more.svg');
  background-size: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  margin-left: 40px;
  right: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.question_less{
  background-image: url('../images/less.svg');
  background-size: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  right: 40px;
  margin-left: 40px;
}
.question_less{
  padding-top: 0px;
}
.question .question_content,
.question .question_less{
  display: none;
}
.question.active .question_content,
.question.active .question_less{
  display: block;
}
.question.active .question_more{
  display: none;
}
.campaign_page_title .presentation_campaign .sample a:hover,
.about_campaign a:hover{
  background-color: gray;
  color: black;
}
.steps_about{
  width: calc(100% - 300px);
  margin: calc(var(--item-space-2) - 12px) 150px 0px 150px;
  padding-top: 12px;
  overflow: hidden;
  position: relative;
}
.steps_about p:before{
  content: "";
  display: block;
  float: left;
  background-color: var(--gray);
  position: absolute;
  border-radius: 0px 0px 0px 0px;
  width: 25px;
  height: 25px;
  z-index: 3;
  bottom: 69px;
  left: -11px;
  -webkit-transform: rotate(45deg);
  border-left-width: 0px;
  border-top-width: 0px;
}
.steps_about.two p:before,
.steps_about.four p:before{
  content: "";
  display: block;
  float: right;
  background-color: var(--gray);
  position: absolute;
  border-radius: 0px 0px 0px 0px;
  width: 25px;
  height: 25px;
  z-index: 3;
  bottom: 69px;
  left: 493px;
  right: -11px;
  -webkit-transform: rotate(45deg);
  border-left-width: 0px;
  border-top-width: 0px;
}
.steps_about span{
  font-size: var(--detail);
  top: -12px;
  left: -14px;
  position: absolute;
  z-index: 2;
  text-align: center;
  background-color: var(--pink);
  border-radius: 50%;
  padding: 6px 10px;
  color: var(--white);
  margin: auto 0px auto 0px;
}
.steps_about.two span,
.steps_about.four span{
  top: -12px;
  left: inherit;
  right: -14px;
}
.steps_about.two img,
.steps_about.four img{
  right: 0px;
}
.steps_about img{
  width: 160px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.steps_about.two p,
.steps_about.four p{
  float: left;
  margin: 0px 216px 0px 0px;
}
.steps_about p{
  width: calc((100% - 183px) - 34px);
  float: right;
  color: var(--black);
  background-color: var(--gray);
  border-radius: var(--default_radius);
  padding: var(--item-space-2);
  margin: 0px 0px 0px 216px;
  position: relative;
  line-height: 1.5em;
  font-size: var(--body);
}
.about_content h2{
  text-align: left;
  font-size: var(--title);
  font-family: var(--oswald);
  margin: 60px 150px 30px 150px;
  width: calc(100% - 300px);
}
.about_publications{
  width: 100%;
  overflow: hidden;
  display: block;
  margin-top: 30px;
}
.about_content .publication{
  width: calc((100% / 2) - 30px);
  margin-left: 30px;
  float: left;
  overflow: hidden;
  position: relative;
}
.about_content .publication:nth-child(1){
  margin-left: 0px;
}
.about_content .profile_picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 2px solid gray;
  overflow: hidden;
}
.profile_picture img {
  width: 100%;
}
.about_content figure{
  border: 3px solid var(--gray);
  border-bottom: 0px;
  float: left;
  width: 100%;
  margin: 0px;
  height: auto;
}
.about_content figure img{
  width: 100%;
  height: auto;
  display: block;
}
.about_content legend {
  width: 100%;
  margin-left: 0px;
  padding: 15px;
  text-align: left;
  float: left;
  border: 3px solid var(--gray);
}
.about_content legend p {
  margin: 0px 0px 0px 0px;
  width: 100%;
  overflow: hidden;
  display: block;
  line-height: 1.5em;
  font-size: var(--body);
}
.about_content .brands_logo {
  width: 100%;
  margin: var(--item-space-2) 0px 0px 0px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.created_account_div{
  width: calc(100% - 300px);
  margin: 30px 150px 0px 150px;
  display: block;
  text-align: center;
}
.created_account_link{
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;
  border-radius: var(--default_radius);
  padding: var(--item-space-1);
  display: inline-block;
  text-decoration: none;
  font-size: var(--body);
}
.created_account_link:hover{
  background-color: var(--lightblue);
}
.about_content .brands_logo div {
  background-color: var(--gray);
  text-align: center;
  border-radius: var(--default_radius);
}
.about_content .brands_logo div img {
  width: 100%;
}
._user_entrar .follow_up_mobile,
._user_registrar .follow_up_mobile,
._user_recuperar .follow_up_mobile,
._user_confirmacao .follow_up_mobile,
._user_nova_senha .follow_up_mobile{
  display: none;
}
.follow_up_mobile a.create_link,
header.menu .hello_unlogged a.create_link{
  color: var(--white);
  font-size: var(--body);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--default_radius);
  background-color: var(--blue);
  border: 3px solid var(--blue);
  padding: var(--item-space-1);
}
header.menu .hello_unlogged a.create_link{
  padding: 10px 15px!important;
}
header.menu .hello_logged div{
  text-align: right;
}
header.menu .hello_logged div:after{
  background-image: url('../images/account-arrow-2.svg');
  background-repeat: no-repeat;
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  float: right;
  margin: 5px 0px 0px 10px;
  transition: all 0.3s;
}
header.menu .hello_logged.active div:after{
  transform: rotate(180deg);
  margin: 0px 0px 0px 10px;
}
header.menu .hello_logged .hello_logged_options{
  display: none;
  position: absolute;
  background-color: gray;
  list-style: none;
  right: 10px;
  padding: 0px;
  margin: 10px 0px 0px 0px;
  z-index: 5;
}
header.menu .hello_logged.active .hello_logged_options{
  display: block;
}
header.menu .hello_logged .hello_logged_options li{
  width: 100%;
}
header.menu .hello_logged .hello_logged_options li a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-transform: uppercase;
}
header.menu .hello_logged .hello_logged_options li a:hover{
  background-color: black;
}
section.campaign{
  padding: 80px 0px 0px 0px;
}
section.campaign table{
  width: calc(100% - 60px);
  border-bottom: 3px solid var(--gray);
  margin: 0px var(--item-space-2);
  padding-bottom: var(--item-space-2);
}
section.campaign table tbody tr{
  text-align: left;
  font-size: var(--body);
}
section.campaign table tbody tr th{
  font-size: var(--body);
  padding: 15px 0px;
  font-weight: 400;
  text-transform: uppercase;
}
section.campaign table tbody tr td{
  font-size: var(--body);
  padding: 15px 0px;
}

._checkout_entrega fieldset{
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.form-review.form-edit{

}

#edit-cancel,
.form-review.form-edit #forward-button,
#forward-button,
#edit-button,
.form-disabled #edit-submit{
  display: none;
}
.form-review.form-edit #edit-cancel,
.form-review.form-edit #edit-submit,
.form-review.form-disabled #forward-button,
.form-review.form-disabled #edit-button,
#edit-submit{
  display: block;
}

#edit-button{
  color: var(--lightblue);
  float: left;
  width: 50%;
  margin-top: 10px;
}
#edit-button{
  text-decoration: none;
}
#forward-button{
    padding: var(--item-space-1);
    border-radius: var(--default_radius);
    width: 50%;
    background-color: var(--blue);
    color: white;
    text-transform: uppercase;
    border: 0px;
    float: right;
    text-decoration: none;
    text-align: center;
}
.checkout-footer{
  padding: 60px 30px 150px 30px!important;
  overflow: hidden;
}
.shipping-form{
  overflow: hidden;
}
.checkout-footer a{
  font-size: var(--body);
  text-decoration: none;
  display: block;
}
.checkout-footer a.back-to-campaign{
  float: left;
  color: var(--blue);
  text-transform: uppercase;
  background-image: url('../images/back-arrow.svg');
  background-repeat: no-repeat;
  background-size: 9px;
  padding-left: 15px;
}
.checkout-footer a.back-to-campaign:hover{
  text-decoration: underline;
}
.checkout-footer a.next-step{
  float: right;
  text-decoration: none;
  background-color: var(--blue);
  color: var(--white);
  padding: var(--item-space-1);
  border-radius: var(--default_radius);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.checkout-footer a.next-step:hover{
  background-color: var(--lightblue);
}
body._painel_interesses .block.block-system.block-system-main-block .content{
  margin-top: 0px;
}
.home_page_title{
  width: 100%;
  padding: 30px 30px 30px 30px;
  background-color: lightgray;
}
.home_page_title h1{
  font-size: var(--title);
  color: gray;
  width: 57%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.carousel_options{
  display: inline-block;
  z-index: 2;
  position: relative;
}
.carousel_options a{
  color: gray;
  font-size: var(--body);
  z-index: 10;
  margin-right: 15px;
  text-decoration: none;
  display: inline-block;
}
.carousel_options a:nth-child(1).active,
.carousel_options a:nth-child(2).active{
  border-bottom: 2px solid black;
}
.content_images_home{
  width: 100%;
  margin: 0px;
  padding: 0px 30px 0px 30px;
  background-color: lightgray;
}
.content_images_home .messages:first-child,
.content_images_home .messages__wrapper .messages__list{
  margin-top: 0px;
}
.content_images_home .messages__wrapper .messages__list{
  display: none;
}
.content_images_home .for_you_home.active,
.see_it_all_home.active{
  display: block;
  padding-bottom: 60px;
}
.owl-nav{
  width: calc(100% + 300px)!important;
  top: -46px!important;
}
.owl-carousel{
  overflow: inherit!important;
  padding-top: 0px!important;
}
.owl-dots{
  padding-top: 0px!important;
}
.content_images_home .for_you_home,
.content_images_home .see_it_all_home{
  width: calc(100% - 300px);
}
.campaign_page_title .image_campaign{
  width: 280px!important;
}
.content_images_home .for_you_home a,
.content_images_home .see_it_all_home a{
  width: calc(100% - 30px);
  float: left;
  margin-right: 30px;
  margin-top: 15px;
  padding: 15px 15px 30px 30px;
  display: block;
  color: black;
  background-color: white;
  overflow: hidden;
}
.content_images_home .for_you_home a:hover, 
.content_images_home .see_it_all_home a:hover{
  background-color: gray;
  color: white;
}
.content_images_home .for_you_home a:hover .content span.to_know, 
.content_images_home .see_it_all_home a:hover .content span.to_know{
  background-color: white;
  color: black;
}
.content_images_home .for_you_home a .new,
.content_images_home .see_it_all_home a .new,
.content_images_home .for_you_home a .foryou,
.content_images_home .see_it_all_home a .foryou,
.content_images_home .for_you_home a .archived,
.content_images_home .see_it_all_home a .archived,
.content_images_home .for_you_home a .soldoff,
.content_images_home .see_it_all_home a .soldoff{
  width: 100px;
  float: right;
  overflow: hidden;
}
.content_images_home .for_you_home a .new span,
.content_images_home .see_it_all_home a .new span,
.content_images_home .for_you_home a .foryou span,
.content_images_home .see_it_all_home a .foryou span,
.content_images_home .for_you_home a .archived span,
.content_images_home .see_it_all_home a .archived span,
.content_images_home .for_you_home a .soldoff span,
.content_images_home .see_it_all_home a .soldoff span{
  float: right;
  text-transform: uppercase;
  color: white;
  background-color: black;
  padding: 10px 15px;
}
.content_images_home .for_you_home a .image,
.content_images_home .see_it_all_home a .image{
  overflow: hidden;
  width: calc(50% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  float: right;
}
.content_images_home .for_you_home a .image img,
.content_images_home .see_it_all_home a .image img{
  width: 100%;
  height: auto;
}
.content_images_home .for_you_home a .content,
.content_images_home .see_it_all_home a .content{
  width: calc(50% - 15px);
  margin-right: 15px;
  float: left;
}
.content_images_home .for_you_home a .logo_content img, 
.content_images_home .see_it_all_home a .logo_content img{
  width: 75px;
  height: auto;
  margin-bottom: 15px;
  margin-top: 10px;
}
.content_images_home .for_you_home a .content h2,
.content_images_home .see_it_all_home a .content h2{
  margin: 0px 0px 15px 0px;
}
.content_images_home .for_you_home a .content p,
.content_images_home .see_it_all_home a .content p{
  margin: 0px 0px 15px 0px;
  line-height: 1.5em;
}
.content_images_home .for_you_home a .content span.to_know,
.content_images_home .see_it_all_home a .content span.to_know{
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 10px 15px;
  float: left;
}
.content_images_home .for_you_home a .content span.mob,
.content_images_home .see_it_all_home a .content span.mob{
  display: none;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 10px 15px;
  float: left;
}
.about_campaign p,
.campaign_page_title .presentation_campaign .sample div .sample_explanation p{
  line-height: 1.5em;
}
.see_it_all_home,
.content_images_home .for_you_home{
  display: none;
}
.how_it_works_home{
  padding: 60px 200px 60px 200px;
  overflow: hidden;
}
.how_it_works_home h2{
  font-size: var(--title);
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.how_it_works_home .how_it_works_number{
  overflow: hidden;
  margin-top: 60px;
  margin-left: 240px;
  position: relative;
}
.how_it_works_home .how_it_works_number:nth-child(1),
.how_it_works_home .how_it_works_number:nth-child(3),
.how_it_works_home .how_it_works_number:nth-child(5),
.how_it_works_home .how_it_works_number:nth-child(7){
  margin-right: 190px;
  margin-left: 50px;
}
.how_it_works_home .how_it_works_number span{
  font-size: var(--title);
  float: left;
  margin: auto 30px auto 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.how_it_works_home .how_it_works_number img{
  width: 160px;
  margin-right: 30px;
  margin-left: 90px;
}
.how_it_works_home .how_it_works_number p{
  width: calc((100% - 190px) - 97px);
  float: right;
  color: black;
  background-color: gray;
  padding: 30px;
  margin: 0px 0px 0px 280px;
  position: absolute;
  top: 50%;
  line-height: 1.5em;
  font-size: var(--body);
  transform: translateY(-50%);
}
.how_it_works_home .how_it_works_information{
  width: 100%;
  text-align: center;
  font-size: var(--body);
  padding: 30px 120px 0px 120px;
}
.how_it_works_home .how_it_works_information p{
  margin: 0px 0px 30px 0px;
  line-height: 1.5em;
}
.how_it_works_home .how_it_works_information a{
  display: inline-block;
  color: white;
  background-color: black;
  padding: 10px 15px;
  text-decoration: none;
}
.brands{
  background-color: lightgray;
  padding: 60px 30px;
}
.brands h2{
  font-size: var(--title);
  width: 60%;
  margin: 0px 0px 30px 0px;
}
.brands p{
  font-size: var(--body);
  width: 60%;
  margin: 0px 0px 30px 0px;
  line-height: 1.5em;
}
.brands .brands_logo{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.brands .brands_logo div{
  background-color: white;
  padding: 30px 15px;
  text-align: center;
}
.brands .brands_logo div img{
  width: 92px;
}
body._painel_interesses .block.block-core.block-page-title-block,
body._painel_identificacao .block.block-core.block-page-title-block,
body._painel_entrega .block.block-core.block-page-title-block{
  padding: 80px 30px 0px 0px;
  text-align: left;
}
body._painel_interesses .block.block-core.block-page-title-block h1,
body._painel_identificacao .block.block-core.block-page-title-block h1,
body._painel_entrega .block.block-core.block-page-title-block h1,
body._painel_pedidos .block.block-core.block-page-title-block h1{
  text-align: left!important;
  width: 100%!important;
  font-size: var(--title);
  font-family: var(--oswald);
  margin: 0px 0px var(--item-space-2) 0px!important;
}
body._painel_interesses p,
body._painel_identificacao p{
  text-align: left!important;
  width: 100%!important;
  margin: 0px 0px var(--item-space-2) 0px;
  overflow: hidden;
}
body._painel_entrega p{
  margin-left: 0px!important;
}
body._painel_interesses .form-checkboxes .form-type-checkbox {
  width: calc((100% / 6) - 25px);
}
body._painel_interesses .block.block-system.block-system-main-block{
  padding: 0px 30px 80px 0px;
  display: block;
}
body._painel_interesses legend{
  width: 100%;
  margin-bottom: 30px;
}
body._painel_interesses legend span{
  font-size: var(--body);
}
body._painel_interesses .js-form-item{
  padding-bottom: 0px;
  margin-bottom: 30px;
  margin-left: 30px;
}
._user_registrar .js-form-type-email,
._painel_identificacao .js-form-type-email{
  width: 100%!important;
}
body._painel_identificacao .js-form-item h4,
body._painel_entrega .js-form-item h4{
  text-transform: uppercase;
}
body._painel_identificacao .js-form-type-password{
  width: calc((100% / 3) - 20px)!important;
  float: left;
}
body._painel_identificacao .js-form-item-senha2{
  margin-left: 30px;
}
.interlabel{
  font-size: var(--body);
  padding-bottom: 60px;
}
.ps-save{
  width: calc(100% - 290px);
  margin-bottom: 30px;
  line-height: 1.5em;
  font-size: var(--body);
  display: block;
  overflow: hidden;
  float: left;
}
._painel_identificacao .form-actions.js-form-wrapper.form-wrapper {
  width: 290px!important;
}
.form-actions.js-form-wrapper.form-wrapper{
  width: 100%!important;
  overflow: hidden;
}
body._painel_interesses .js-form-item:nth-child(1),
body._painel_interesses .js-form-item:nth-child(7),
body._painel_interesses .js-form-item:nth-child(13),
body._painel_interesses .js-form-item:nth-child(19),
body._painel_interesses .js-form-item:nth-child(25),
body._painel_interesses .js-form-item:nth-child(31),
body._painel_interesses .js-form-item:nth-child(37),
body._painel_interesses .js-form-item:nth-child(43),
body._painel_interesses .js-form-item:nth-child(49),
body._painel_interesses .js-form-item:nth-child(55),
body._painel_interesses .js-form-item:nth-child(61){
  margin-left: 0px;
}
body._painel_interesses fieldset{
  width: 100%;
}
body._painel_interesses input.form-submit,
body._painel_identificacao input.form-submit,
body._painel_entrega input.form-submit{
  display: block;
  width: auto;
  padding: var(--item-space-1);
  float: right;
}
.with_you{
  overflow: hidden;
  padding: 30px 30px 60px 30px;
  text-align: center;
}
.with_you h2{
  font-size: var(--title);
  margin: 0px 0px 30px 0px;
}
.with_you p{
  margin: 0px auto 30px auto;
  width: 50%;
  overflow: hidden;
  display: block;
  line-height: 1.5em;
}
.with_you_instagram{
  width: 100%;
  overflow: hidden;
  display: block;
  float: left;
}
.with_you_instagram div.post_instagram{
  width: calc((100% / 3) - 20px);
  margin-left: 30px;
  float: left;
  overflow: hidden;
  position: relative;
}
.with_you_instagram div.post_instagram:nth-child(1){
  margin-left: 0px;
}
.with_you_instagram div.post_instagram .profile_picture{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 2px solid gray;
  overflow: hidden;
}
.with_you_instagram div.post_instagram .profile_picture img{
  width: 100%;
}
.with_you_instagram div img{
  width: 100%;
}
.with_you_instagram div img.main_image{
  border: 2px solid gray;
  border-bottom: 0px;
  float: left;
}
.with_you_instagram div .legend{
  width: 100%;
  margin-left: 0px;
  padding: 15px;
  text-align: left;
  float: left;
  border: 2px solid gray;
}
.with_you_instagram div .legend p{
  margin: 0px 0px 0px 0px;
  width: 100%;
}
.with_you .with_you_information{
  float: left;
  overflow: hidden;
  display: block;
}
.with_you .with_you_information p{
  margin: 30px auto 30px auto;
  line-height: 1.5em;
}
.with_you .with_you_information a{
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: black;
  padding: 10px 15px;
}
.order-block{
  padding: var(--item-space-2);
  background-color: var(--gray);
  border-radius: var(--default_radius);
  margin-top: var(--item-space-2);
  overflow: hidden;
}
.order-header{
  overflow: hidden;
  display: block;
}
.order-block:nth-child(1){
  margin-top: 0px;
}
.order-header-identify{
  width: calc(100% / 3);
  padding-right: var(--item-space-1);
  float: left;
  overflow: hidden;
  font-size: var(--body);
  padding-bottom: 5px;
}
.order-header-status{
  width: calc((100% / 3) + 50px);
  padding-right: var(--item-space-1);
  overflow: hidden;
  float: left;
  font-size: var(--body);
  line-height: 1.5em;
}
.order-header-status strong{
  border-radius: 23px;
  display: block;
  float: left;
  margin: 0px 10px 0px 0px;
  width: 23px;
  height: 23px;
}
.order-header-status strong.status_1,
.order-header-status strong.status_2{
  background-color: var(--baby_pink);
  margin-top: 3px;
}
.order-header-status strong.status_3{
  background-color: var(--orange);
  margin-top: 18px;
}
.order-header-status strong.status_4{
  background-color: var(--green_ball);
  margin-top: 3px;
}
.no-orders{
  font-size: var(--body);
  padding: 30px;
  background-color: var(--gray);
  border-radius: var(--default_radius);
  width: 100%;
}
.order-header-status a,
.order-middle-action a.link_button{
  background-color: var(--blue);
  color: var(--white);
  text-decoration: none;
  border-radius: var(--radius_min);
  display: inline-block;
  padding: var(--item-space-1);
  margin-left: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.order-middle-action a.link_button{
  float: right;
}
.order-middle-action a.link_brand{
  color: var(--lightblue);
  text-decoration: underline;
}
.order-header-action{
  width: calc((100% / 3) - 50px);
  float: right;
  text-align: right;
  padding-top: 30px;
  position: relative;
}
.order-header-identify strong{
  font-size: var(--body_max);
  text-transform: uppercase;
  overflow: hidden;
  padding-bottom: 5px;
  display: block;
}
.order-header-action-more{
  background-image: url('../images/more.svg');
  background-size: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  margin-left: 40px;
  right: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.order-header-action-less{
  background-image: url(../images/less.svg);
  background-size: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  right: 40px;
  margin-left: 40px;
}
.order-header-action-more,
.order-header-action-less{
  font-size: var(--body);
  text-decoration: underline;
  overflow: hidden;
  margin: auto 0px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.order-middle{
  padding-top: 30px;
  overflow: hidden;
}
.order-middle-date{
  display: inline-block;
  margin-right: 30px;
  width: 180px;
  line-height: var(--line-height-2);
  margin-top: 0px;
  text-align: left;
  float: left;
}
.order-middle-action{
  display: inline-block;
  width: calc(100% - 315px);
  line-height: var(--line-height-2);
  text-align: right;
  float: right;
}
.order-middle-date strong{
  text-transform: none;
  font-weight: 400;
  font-size: var(--body);
}
.order-header-action-less,
.order-middle{
  display: none;
}
.order-block.active .order-middle{
  display: block;
}
.order-block.active .order-header{
  padding-bottom: var(--item-space-1);
}
.order-block.active .order-header-action-more{
  display: none;
}
.order-block.active .order-header-action-less{
  display: block;
}
footer{
  background-color: var(--blue);
  padding: 60px 30px;
  overflow: hidden;
}
footer .logo_footer{
  width: 45%;
  float: left;
}
footer .logo_footer img{
  width: auto;
}
footer ul.information_footer{
  width: 55%;
  text-align: right;
  float: right;
  margin: 0px;
  list-style: none;
  padding-left: 0px;
  padding-top: 15px;
}
footer ul li{
  display: inline-block;
  margin-left: 15px;
}
footer ul li:nth-child(1){
  margin-left: 0px;
}
footer ul li a{
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--body);
}
footer ul li a:hover{
  text-decoration: underline;
}
footer p{
  color: white;
  width: 100%;
  margin: 30px 0px 0px 0px!important;
  float: left;
  font-size: var(--detail);
}
@media screen and (max-width: 1400px){
.campaign_page_title .image_campaign{
margin-left: -60px!important;
}
}
@media screen and (max-width: 1200px){
.campaign_page_title .image_campaign {
width: 250px!important;
margin-left: -110px!important;
}
}
@media screen and (max-width: 1051px){
:root{
--title: 30px;
--sub_title: 16px;
--body_max: 18px;
--body: 14px;
--item-space: 20px;
--line-height: 1.5em;
--radius_min: 5px;
}
header.menu ul.menu_options{
display: block;
width: 100%;
position: fixed;
left: 120%;
right: 0px;
top: 0px;
bottom: 0px;
background-color: gray;
z-index: 5;
padding: 40px 20px;
transition: all 0.5s;
}
.about_menu{
padding: 0px 0px 0px 0px;
width: 80px;
float: left;
overflow: hidden;
position: absolute;
border-radius: 0px var(--default_radius) var(--default_radius) 0px;
}
.about_menu.active{
width: 300px;
z-index: 5;
}
.about_menu li{
background-color: var(--gray);
padding: 20px 25px 20px 25px;
width: 300px;
}
.about_menu li:nth-child(4){
padding: 20px 25px 50px 25px!important;
border-radius: 0px 0px 0px 0px;
}
.about_menu li:nth-child(1){
border-radius: 0px 0px 0px 0px;
}
.about_menu.active li{
padding: 20px;
}
.about_menu li:after{
background-position: center!important;
}
.about_menu li a.about_menu li span.close{
text-transform: capitalize;
color: black;
display: none;
}
.order-header-action{
width: 22px!important;
}
.order-middle-date,
.order-middle-action{
width: 100%;
margin-right: 0px;
}
.order-header-status strong.status_3{
margin-top: 0px;
}
.order-header-status strong.status_4,
.order-header-status strong.status_1,
.order-header-status strong.status_2{
margin-top: 0px;
}
.campaign_page_title .image_campaign{
margin: 0px auto!important;
}
.about_menu.active li span.close{
display: block;
color: black;
width: calc(100% - 30px);
float: right;
}
.about_menu li span{
display: none;
}
.about_menu li span.management_menu{
display: block;
margin-left: 5px;
}
.about_menu.active li span.management_menu {
margin-left: -11px;
}
.about_menu li a:after{
margin-left: 0px!important;
margin-top: 0px!important;
}
.about_menu.active li a{
display: inline-block;
width: 100%;
}
.about_menu li.active{
border-bottom: 0px;
}
.about_content,
.policy_content,
.questions_content{
position: relative;
width: 100%;
padding: 40px 20px 60px 20px;
}
.about_content h1,
.policy_content h1,
.questions_content h1{
text-align: left!important;
width: calc(100% - 90px);
margin: 0px 0px 20px 90px!important;
}
.short_content{
padding: 20px 20px;
max-width: 100%;
}
.short_content img{
width: 100%;
padding-bottom: 0px;
margin-bottom: 13px;
}
.short_content h1{
margin-bottom: 10px;
}
.short_content a{
margin-top: 20px;
}
.interlabel{
padding-bottom: 20px;
line-height: 1.5em;
}
body._painel_pedidos .block.block-core.block-page-title-block h1{
margin-bottom: 15px!important;
}
.no-orders{
text-align: center;
padding: 20px;
}
.order-header-identify br{
display: none;
}
.order-header-action{
text-align: left!important;
}
.order-header-action-more, .order-header-action-less{
text-align: left!important;
left: 0px;
}
.order-block.active .order-header{
padding-bottom: 20px;
}
.order-middle {
padding-top: 20px;
}
.order-middle-action a,
.order-header-status a{
margin-left: 0px;
margin-top: 20px;
margin-bottom: 0px;
text-align: center;
width: 100%;
}
.order-middle-action{
float: left;
text-align: left;
padding-top: 20px;
}
.order-block{
padding: 20px;
position: relative;
}
.order-header-identify{
width: calc(100% - 32px);
float: left;
}
.order-header-status{
width: 100%;
display: block;
}
.order-header-identify{
padding-bottom: 20px;
padding-right: 0px;
}
.order-header-status{
padding-right: 0px;
padding-bottom: 0px;
}
.order-header-action{
width: 22px!important;
position: absolute;
top: var(--item-space-1);
right: var(--item-space-1);
}
.ps-save{
width: 100%;
text-align: center;
}
body._painel_entrega h1,
body._painel_identificacao h1,
body._painel_interesses h1{
width: 100%!important;
}
body._painel_interesses p, body._painel_identificacao p{
margin-bottom: 20px!important;
margin-top: 0px!important;
}
body._painel_interesses .block.block-core.block-page-title-block h1,
body._painel_identificacao .block.block-core.block-page-title-block h1,
body._painel_entrega .block.block-core.block-page-title-block{
width: 100%!important;
text-align: left;
margin-bottom: var(--item-space-1)!important;
}
body._painel_interesses .block.block-core.block-page-title-block, 
body._painel_identificacao .block.block-core.block-page-title-block, 
body._painel_entrega .block.block-core.block-page-title-block,
body._painel_pedidos .block.block-core.block-page-title-block{
padding: 0px!important;
}
body._painel_interesses .block.block-system.block-system-main-block{
padding: 0px 0px 40px 0px;
}
body._painel_interesses legend{
margin-bottom: 20px;
}
body._painel_interesses .js-form-item{
margin-left: 20px;
margin-bottom: 20px;
width: calc((100% / 2) - 10px)!important;
}
body._painel_interesses .js-form-item:nth-child(1),
body._painel_interesses .js-form-item:nth-child(3),
body._painel_interesses .js-form-item:nth-child(5),
body._painel_interesses .js-form-item:nth-child(7),
body._painel_interesses .js-form-item:nth-child(9),
body._painel_interesses .js-form-item:nth-child(11),
body._painel_interesses .js-form-item:nth-child(13),
body._painel_interesses .js-form-item:nth-child(15),
body._painel_interesses .js-form-item:nth-child(17),
body._painel_interesses .js-form-item:nth-child(19),
body._painel_interesses .js-form-item:nth-child(21),
body._painel_interesses .js-form-item:nth-child(23),
body._painel_interesses .js-form-item:nth-child(25),
body._painel_interesses .js-form-item:nth-child(27),
body._painel_interesses .js-form-item:nth-child(29),
body._painel_interesses .js-form-item:nth-child(31),
body._painel_interesses .js-form-item:nth-child(33),
body._painel_interesses .js-form-item:nth-child(35),
body._painel_interesses .js-form-item:nth-child(37),
body._painel_interesses .js-form-item:nth-child(39),
body._painel_interesses .js-form-item:nth-child(41),
body._painel_interesses .js-form-item:nth-child(43),
body._painel_interesses .js-form-item:nth-child(45),
body._painel_interesses .js-form-item:nth-child(47),
body._painel_interesses .js-form-item:nth-child(49),
body._painel_interesses .js-form-item:nth-child(51),
body._painel_interesses .js-form-item:nth-child(53),
body._painel_interesses .js-form-item:nth-child(55),
body._painel_interesses .js-form-item:nth-child(57),
body._painel_interesses .js-form-item:nth-child(59),
body._painel_interesses .js-form-item:nth-child(61),
body._painel_interesses .js-form-item:nth-child(63){
margin-left: 0px;
}
body._painel_interesses input.form-submit,
body._painel_entrega input.form-submit,
body._painel_identificacao input.form-submit{
width: 100%!important;
}
.image_about,
.about_content p,
.about_content h2,
.about_publications,
.policy_content p,
.policy_content h2,
.policy_content .update{
width: calc(100% - 90px)!important;
float: right;
margin: 0px 0px 0px 0px;
}
.about_menu li.active a,
.about_menu li a{
padding: 0px;
}
.content_images_home .highlighted{
margin-right: 20px
}
.created_account_div{
width: calc(100% - 90px)!important;
margin: 0px 0px 0px 90px!important;
padding-top: 20px;
display: block;
overflow: hidden;
}
.created_account_link{
width: 100%;
}
.question{
width: calc(100% - 90px)!important;
float: right;
margin: var(--item-space-1) 0px 0px 0px!important;
}
.question_label, .question_content{
padding: 20px;
}
.question_more, .question_less{
padding: 0px 0px 0px 0px;
width: 21px!important;
right: 20px;
margin: 0px 0px 0px 20px;
float: left;
}
.question_label p{
width: calc(100% - 42px);
}
.question_content{
padding: 0px var(--item-space-1) var(--item-space-1) var(--item-space-1)!important;
}
.policy_content .update,
.policy_content p,
.policy_content h2{
margin-top: 20px!important;
}
.about_content p {
width: 100%;
margin: 20px 0px 0px 0px!important;
}
.about_content .brands_logo div{
text-align: center;
width: 72px;
}
.steps_about img{
margin-right: 0px;
margin-left: 0px;
position: relative;
top: 0px;
transform: none;
float: none;
width: 236px;
}
.steps_about span {
padding: 3px 10px!important;
}
.about_content .steps_about p{
width: calc(100% - 90px)!important;
padding: var(--item-space-1);
margin: var(--item-space-2) 0px 0px 90px!important;
position: relative;
transform: none;
top: 0px;
}
.steps_about p:before{
top: -13px!important;
left: 108px!important;
}
.steps_about{
width: 100%;
overflow: inherit;
text-align: right;
float: right;
margin: 0px 0px 0px 0px!important;
padding-top: 40px;
}
.about_content h2{
width: 100%;
margin: 20px 0px 0px 0px!important;
}
.about_content .publication{
width: 100%;
margin: 20px 0px 0px 0px!important;
}
.about_content legend p{
margin-top: 0px!important;
width: 100%!important;
}
.about_content .brands_logo{
width: calc(100% - 90px);
margin: 0px 0px 0px 90px!important;
padding-top: 20px;
grid-gap: 15px;
grid-template-columns: 1fr 1fr 1fr;
}
.created_account_div{
margin-top: 20px;
}
section.campaign{
padding: 40px 0px 0px 0px;
}
section.campaign table{
width: calc(100% - 40px);
margin: 0px 20px;
padding-bottom: 20px;
}
.checkout-footer{
padding: 18px 20px 40px 20px;
}
.about_publications{
margin-top: 0px;
}
.checkout-footer{
padding: 20px 20px 40px 20px;
}
.checkout-footer a.next-step{
padding: 5px 10px;
width: 100%;
}
.checkout-footer a.back-to-campaign{
width: 100%!important;
padding-bottom: 20px;
padding-top: 22px;
background-position: left;
display: block;
}
section.campaign table tbody{
overflow: hidden;
}
section.campaign table tbody tr{
width: 100%;
}
section.campaign table tbody tr td,
section.campaign table tbody tr th{
padding: 10px 0px;
}
section.campaign table tbody tr td{
display: block;
}
section.campaign table tbody tr th{
display: none;
}
tr td:nth-child(1):before {
content: "CAMPANHA";
display: block;
font-weight: bold;
padding-bottom: 5px;
}
inspector-stylesheet:1 th {
display: none;
}
tr td:nth-child(2):before {
content: "PRODUTO";
display: block;
font-weight: bold;
padding-bottom: 5px;
}
inspector-stylesheet:2 th {
display: none;
}
tr td:nth-child(3):before {
content: "PESO";
display: block;
font-weight: bold;
padding-bottom: 5px;
}
inspector-stylesheet:3 th {
display: none;
}
tr td:nth-child(4):before {
content: "QUANTIDADE";
display: block;
font-weight: bold;
padding-bottom: 5px;
}
inspector-stylesheet:4 th {
display: none;
}
tr td:nth-child(5):before {
content: "VALOR";
display: block;
font-weight: bold;
}
inspector-stylesheet:5 th {
display: none;
}
.menu_active header.menu ul.menu_options {
left: 0px;
}
.about_menu.panel{
display: none;
}
header.menu ul.menu_options li{
width: 100%;
margin: 0px;
}
header.menu ul.menu_options li a{
color: white;
padding-bottom: 20px;
display: block;
}
header.menu ul.menu_options li:nth-child(1){
border-bottom: 0px;
padding-bottom: 0px!important;
}
header.menu .logo {
width: 50%;
}
header.menu .logo img{
width: 100%;
}
header.menu .hello_logged,
header.menu .hello_unlogged{
display: none;
}
header.menu .menu_mobile{
display: block;
width: 30px;
height: 30px;
float: right;
}
.menu_active header.menu .menu_mobile{
z-index: 5;
position: fixed;
right: 20px;
}
body._painel_entrega .qual_cep p{
width: 100%!important;
margin-bottom: 0px!important;
margin-left: 0px!important;
}
header.menu .menu_mobile span{
width: 100%;
height: 2px;
display: block;
margin-top: 7px;
border-radius: 10px;
-webkit-transition: all 0.5s;
transition: all 0.5s;
background-color: black;
}
.menu_active header.menu .menu_mobile span:nth-child(1){
opacity: 0%;
background-color: white;
z-index: 4;
}
.menu_active header.menu .menu_mobile span:nth-child(2) {
transform: rotate(45deg);
background-color: white;
z-index: 4;
}
.menu_active header.menu .menu_mobile span:nth-child(3) {
transform: rotate(-45deg);
margin-top: -2px;
background-color: white;
z-index: 4;
}
.follow_up_mobile{
display: block;
position: fixed;
bottom: 0px;
z-index: 5;
width: 100%;
padding: var(--item-space-2);
overflow: hidden;
background-color: var(--gray);
}
.follow_up_mobile div{
width: calc(100% / 4 );
display: block;
float: left;
}
.follow_up_mobile div{
display: block;
}
.follow_up_mobile div:nth-child(1) a{
background-image: url('../images/orders_blue.svg');
background-size: 35px;
font-size: 0px;
height: 38px;
background-repeat: no-repeat;
background-position: center;
}
._painel_pedidos .follow_up_mobile div:nth-child(1) a{
background-image: url('../images/orders_pink.svg');
}
.follow_up_mobile div:nth-child(2) a{
background-image: url('../images/user_blue.svg');
font-size: 0px;
background-repeat: no-repeat;
background-position: center;
background-size: 35px;
height: 38px;
}
._painel_identificacao .follow_up_mobile div:nth-child(2) a{
background-image: url('../images/user_pink.svg');
}
.follow_up_mobile div:nth-child(3) a{
background-image: url('../images/like_blue.svg');
font-size: 0px;
background-repeat: no-repeat;
background-position: center;
background-size: 35px;
height: 38px;
}
._painel_interesses .follow_up_mobile div:nth-child(3) a{
background-image: url('../images/like_pink.svg');
}
.follow_up_mobile div:nth-child(4) a{
background-image: url('../images/delivery_blue.svg');
font-size: 0px;
background-repeat: no-repeat;
background-position: center;
background-size: 35px;
height: 38px;
}
._painel_entrega .follow_up_mobile div:nth-child(4) a{
background-image: url('../images/delivery_pink.svg');
}
.home_page_title{
padding: 20px 20px 20px 20px;
}
.home_page_title h1{
width: 100%;
margin-bottom: 0px;
}
.content_images_home .for_you_home a .new, 
.content_images_home .see_it_all_home a .new,
.content_images_home .for_you_home a .foryou, 
.content_images_home .see_it_all_home a .foryou,
.content_images_home .for_you_home a .archived, 
.content_images_home .see_it_all_home a .archived,
.content_images_home .for_you_home a .soldoff, 
.content_images_home .see_it_all_home a .soldoff{
width: 100px;
float: right;
}
.about_menu li span.management_menu{
display: block!important;
}
.about_menu.active li a span{
display: block!important;
color: black;
width: calc(100% - 30px);
float: right;
padding-left: 20px;
padding-top: 6px;
}
.about_menu li a span{
display: none;
}
.owl-nav{
display: none!important;
}
.content_images_home .for_you_home, 
.content_images_home .see_it_all_home{
width: 100%;
}
.content_images_home .for_you_home a, .content_images_home .see_it_all_home a{
padding: 10px 10px 20px 20px;
}
.content_images_home .for_you_home a .logo_content img, .content_images_home .see_it_all_home a .logo_content img{
padding-top: 10px;
}
.content_images_home .for_you_home a .content, .content_images_home .see_it_all_home a .content{
margin-right: 0px;
margin-top: 20px;
padding-right: 10px;
}
.content_images_home{
padding: 0px 0px 0px 20px;
}
.content_images_home .for_you_home a .image, .content_images_home .see_it_all_home a .image{
width: 100%;
padding: 0px;
margin: 0px 10px 0px 0px;
text-align: center;
}
.content_images_home .for_you_home a .content span.to_know,
.content_images_home .see_it_all_home a .content span.to_know{
display: none!important;
}
.content_images_home .for_you_home a .content span.mob, 
.content_images_home .see_it_all_home a .content span.mob{
display: block!important;
width: 100%;
text-align: center;
}
.content_images_home .for_you_home a .image img, .content_images_home .see_it_all_home a .image img{
width: 70%;
margin: 0px auto;
}
.content_images_home .for_you_home a .content, .content_images_home .see_it_all_home a .content {
width: 100%;
}
.how_it_works_home{
padding: 40px 20px;
}
.how_it_works_home .how_it_works_number{
margin-left: 0px;
margin-right: 0px;
}
.how_it_works_home .how_it_works_number:nth-child(1), 
.how_it_works_home .how_it_works_number:nth-child(3), 
.how_it_works_home .how_it_works_number:nth-child(5), 
.how_it_works_home .how_it_works_number:nth-child(7){
margin-left: 0px;
margin-right: 0px;
}
.how_it_works_home .how_it_works_number{
margin-top: 40px;
}
.how_it_works_home h2 {
text-align: left;
}
.how_it_works_home .how_it_works_number span{
margin: auto 20px auto 0px;
}
.how_it_works_home .how_it_works_number img{
margin-right: 0px;
margin-left: 53px;
}
.how_it_works_home .how_it_works_number p{
width: calc(100% - 53px);
padding: 20px;
margin: 20px 0px 0px 58px;
position: relative;
transform: none;
top: 0px;
}
.how_it_works_home .how_it_works_information{
padding: 20px 0px 0px 0px;
}
.how_it_works_home .how_it_works_information p{
margin-bottom: 20px;
}
.with_you{
padding: 20px 20px 40px 20px;
}
.with_you h2 {
text-align: left;
margin-bottom: 20px;
}
.with_you p:nth-child(2){
text-align: left;
}
.with_you p{
width: 100%;
margin: 0px 0px 20px 0px;
}
.with_you_instagram div.post_instagram{
width: 100%;
margin-left: 0px;
margin-top: 20px;
}
.with_you_instagram div.post_instagram .legend{
margin-top: 0px!important;
}
.with_you_instagram div.post_instagram .profile_picture{
width: 40px;
height: 40px;
top: 10px;
left: 10px;
}
.with_you .with_you_information p {
margin: 20px auto;
}
.brands{
padding: 40px 20px;
}
.brands h2{
width: 100%;
margin: 0px 0px 20px 0px;
}
.brands p{
width: 100%;
margin-bottom: 20px;
}
.brands .brands_logo{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 10px;
}
.brands .brands_logo div{
padding: 20px 10px;
}
.brands .brands_logo div img {
width: 100%;
}
body._painel_identificacao .js-form-type-password,
body._painel_identificacao .js-form-item-senha2{
margin-left: 0px;
width: 100%!important;
}
footer{
padding: 40px 20px 120px 20px;
}
footer ul.information_footer{
width: 70%;
float: left;
}
footer ul li{
width: 100%;
margin: 0px 0px 10px 0px;
text-align: left;
}
footer .logo_footer img{
width: 100%;
}
footer .logo_footer{
width: 70%;
margin-top: 20px;
}
footer p {
width: 70%;
margin: 20px 0px 0px 0px;
}
}