.checkout-footer{
	padding: 30px 30px 60px 30px;
}

._eqn_evaluate h1{
	display: none;
}

.rating_bar{
	width: 100%;
	height: 10px;
	background-color: gray;
}
.rating_bar span{
	display: block;
	width: 30%;
	background-color: black;
	height: 10px;
}
.rating_reminder{
	overflow: hidden; 
	margin-top: 30px;
	border-bottom: 2px solid gray;
	padding: 30px;
	background-color: gray;
	margin-bottom: 100px;
}
.rating_reminder img{
	width: 80px;
	float: left;
	margin-right: 20px;
}
.rating_reminder div{
	float: left;
	font-size: var(--body);
	width: calc(100% - 100px);
}
.rating_reminder div span{
	display: block;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.about_content.eqn h1{
	padding: 0px;
	width: 100%;
	margin: 0px 0px 0px 0px!important;
}

.about_content.eqn .js-form-item .js-form-item{
	padding-bottom: 0px;
	float: none;
	display: inline-block;
}
.about_content.eqn .js-form-item{
	float: left;
	width: 100%;
	margin-left: 0px;
}
.about_content.eqn legend,
.js-form-type-textarea h4{
	padding: 0px;
    border: 0px solid gray;
    font-weight: bold;
    font-size: var(--sub_title);
    text-align: center;
}
.js-form-type-textarea textarea{
	padding: 20px;
	border: 2px solid gray;
	background-color: transparent;
	margin-top: 20px;
	width: 100%;
}
.js-form-type-textarea textarea:focus{
	border: 2px solid black;
}
.about_content.eqn .js-form-type-radio{
	float: left;
	width: auto;
	overflow: hidden;
	position: relative;
}
.form-eqn-evaluation{
	overflow-y: hidden;
	padding: 30px;
	background-color: lightgray;
}
.form-eqn-evaluation .form-radios{
	float: left;
	width: 100%;
	text-align: center;
}
.form-eqn-evaluation legend{
	text-align: center;
}
.about_content.eqn .form-type-radio h4{
	color: var(--white);
	background-color: gray;
	padding: 20px;
	margin: 20px 10px 0px 10px;
	display: inline-block;
}
.about_content.eqn .form-type-radio input:checked + h4{
	background-color: var(--black);
	color: white;
}
.about_content.eqn .form-type-radio input[type="radio"]{
	opacity: 0%;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
}

.form-checkboxes .form-type-checkbox{
	position: relative;
	overflow: hidden;
	float: left;
	width: 116px;
}
.form-checkboxes .form-type-checkbox input{
	opacity: 0%;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
}
.form-checkboxes .form-type-checkbox h4{
	width: 100%;
	margin: 0px;
    text-align: center;
}

#auth-popup {
	display: block;
	opacity: 0%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: fixed;
	top: 120%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: gray;
	z-index: 3;
	padding: 60px;
}
#auth-popup.active {
	display: block;
	opacity: 1;
	top: 0px;
}
#auth-popup h2{
	text-align: center;
	max-width: 600px;
}
#auth-popup p{
	text-align: center;
	max-width: 600px;
}
#auth-popup .close{
	background-color: red;
	width: 24px;
	height: 24px;
	float: right;
	cursor: pointer;
}
#auth-popup .close:hover{
	background-color: lime;
}
.auth-popup-buttons{
	width: 100%;
	text-align: center;
	max-width: 600px;
}
.auth-popup-buttons a{
	display: inline-block;
	padding: 20px 30px;
	color: white;
	text-decoration: none;
	margin: 0px 5px;
	background-color: black;
}
.auth-popup-buttons a:hover{
	background-color: #333333;
}
._node .block-page-title-block{
	display: none;
}
section.campaign{
	width: 100%;
	overflow: hidden;
	padding-top: 0px;
}

body[class^="_commerce_campaign"] .block.block-system.block-system-main-block .content{
	margin-top: 0px;
}

.campaign_page_title{
	width: 100%;
	overflow: hidden;
	padding: 60px 30px;
	background-color: lightgray;
	position: relative;
}
.campaign_page_title .image_campaign{
	display: block;
    width: auto;
    background-color: var(--white);
    height: calc(100% - 140px);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 70px;
}
.campaign_page_title .presentation_campaign{
	width: 100%;
	max-width: 700px;
	margin: 0px auto;
}
.campaign_page_title .presentation_campaign .logo_campaign{
	width: 100%;
	margin: 0px 0px 30px 0px;
	overflow: hidden;
}
.campaign_page_title .presentation_campaign .logo_campaign p{
	display: inline-block;
	margin: 15px 15px 0px 0px;
	float: left;
	font-size: var(--body);
}
.campaign_page_title .presentation_campaign .logo_campaign img{
	height: 44px;
	width: auto;
	float: left;
	background-repeat: no-repeat;
}
.campaign_page_title .presentation_campaign h1{
	font-size: 60px;
	margin: 0px 0px 30px 0px;
	width: 100%;
	display: block;
}
.campaign_page_title .presentation_campaign .sample{
	width: 100%;
	display: block;
	overflow: hidden;
}
.campaign_page_title .presentation_campaign .sample h4{
	text-transform: uppercase;
	margin: 30px 0px 30px 0px;
}
.campaign_page_title .presentation_campaign .sample div{
	width: 100%;
	overflow: hidden;
	display: block;
}
.campaign_page_title .presentation_campaign .sample div .sample_image{
	width: 100px;
	background-color: var(--white);
	float: left;
	height: auto;
	background-repeat: no-repeat;
}
.campaign_page_title .presentation_campaign .sample div .sample_explanation{
	width: calc(100% - 130px);
	margin-left: 30px;
	float: right;
}
.campaign_page_title .presentation_campaign .sample div .sample_explanation h4{
	margin: 0px 0px 0px 0px;
	text-transform: capitalize;
	line-height: 1.5em;
}
.campaign_page_title .presentation_campaign .sample div .sample_explanation p{
	margin: 0px;
	line-height: 1.5em;
	font-size: var(--body);
}
.campaign_page_title .presentation_campaign .sample a{
	display: inline-block;
	padding: 10px 20px;
	margin-top: 30px;
	background-color: black;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.about_campaign{
	width: 100%;
	max-width: 700px;
	overflow: hidden;
	padding: 60px 0px;
	margin: 0px auto;
}
.about_campaign h3{
	margin: 0px 0px 30px 0px;
	text-transform: uppercase;
}
.about_campaign p{
	margin: 0px 0px 30px 0px;
	font-size: var(--body);
}
.about_campaign h4{
	text-transform: uppercase;
	margin: 0px 0px 15px 0px;
}
.about_campaign div.time{
	background-image: url('../images/time.svg');
	width: 20px;
	height: 20px;
	margin-top: -2px;
	margin-right: 5px;
	margin-bottom: 0px;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
}
.about_campaign a{
	display: inline-block;
	padding: 10px 20px;
	background-color: black;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.other_campaign{
	width: 100%;
	margin: 0px;
	padding: 60px 30px 60px 30px;
}
.other_campaign h4{
	margin: 0px 0px 10px 0px;
	text-transform: capitalize;
	border-bottom: 2px solid black;
	display: inline-block;
}
.other_campaign_carousel{
	width: calc(100% - 300px);
	padding-bottom: 60px;
}
.other_campaign_carousel a{
	width: calc(100% - 30px);
	float: left;
	margin-right: 30px;
	margin-top: 15px;
	padding: 15px 15px 30px 30px;
	display: block;
	color: black;
	background-color: lightgray;
	overflow: hidden;
}
.other_campaign_carousel a .new{
	width: 100px;
	float: right;
	overflow: hidden;
}
.other_campaign_carousel a .new span{
	float: right;
	text-transform: uppercase;
	color: white;
	background-color: black;
	padding: 10px 15px;
}
.other_campaign_carousel a .image{
	overflow: hidden;
	width: calc(50% - 30px);
	margin-left: 15px;
	margin-right: 15px;
	float: right;
}
.other_campaign_carousel a .image img{
	width: 100%;
	height: auto;
}
.other_campaign_carousel a .content{
	width: calc(50% - 15px);
	margin-right: 15px;
	float: left;
}
.other_campaign_carousel a .logo_content img{
	width: 75px;
	height: auto;
	margin-bottom: 15px;
	margin-top: 10px;
}
.other_campaign_carousel a .content h2{
	margin: 0px 0px 15px 0px;
}
.other_campaign_carousel a .content p{
	margin: 0px 0px 15px 0px;
	font-size: var(--body);
}
.other_campaign_carousel a .content span.to_know{
	text-transform: uppercase;
	background-color: black;
	color: white;
	padding: 10px 15px;
	float: left;
}
.other_campaign_carousel a .content span.mob{
	display: none;
	text-transform: uppercase;
	background-color: black;
	color: white;
	padding: 10px 15px;
	float: left;
}
@media screen and (max-width: 1051px){
.about_content.eqn .form-type-radio h4 {
padding: 14px;
margin: 20px 5px 0px 5px;
}
.rating_reminder{
margin-bottom: 50px;
}
.campaign_page_title .presentation_campaign .logo_campaign{
text-align: left;
}
.campaign_page_title{
padding: 40px 20px;
}
.campaign_page_title .image_campaign{
width: 270px;
height: 405px;
margin: 0px auto;
top: 0px;
position: relative;
left: inherit;
}
.campaign_page_title .presentation_campaign{
width: 100%;
margin-top: 40px;
}
.campaign_page_title .presentation_campaign h1{
width: 100%;
font-size: 35px;
margin: 20px 0px;
text-align: left;
}
.campaign_page_title .presentation_campaign .sample{
width: 100%;
text-align: left;
}
.campaign_page_title .presentation_campaign .sample h4{
margin: 0px 0px 20px 0px;
}
.campaign_page_title .presentation_campaign .sample div .sample_explanation{
margin-left: 20px;
}
.campaign_page_title .presentation_campaign .sample a{
width: 100%;
text-align: center;
}
.about_campaign{
padding: 40px 20px;
}
.about_campaign h3,
.about_campaign p{
margin-bottom: 20px;
}
.about_campaign h4{
margin-bottom: 10px;
}
.about_campaign div{
margin-top: 0px;
}
.about_campaign a{
width: 100%;
text-align: center;
}
.other_campaign{
padding: 20px 20px;
width: calc(100% - 50px);
}
.other_campaign_carousel{
width: 100%;
padding-bottom: 0px;
}
.other_campaign_carousel a .image{
width: 100%;
padding-right: 10px;
margin-right: 0px;
text-align: center;
}
.other_campaign_carousel a .image img {
width: 70%;
}
.other_campaign_carousel a .content{
width: 100%;
margin-right: 0px;
padding-right: 10px;
padding-top: 10px;
}
.other_campaign_carousel a .content h2,
.other_campaign_carousel a .content p{
margin-bottom: 10px;
}
.other_campaign_carousel a .content span.to_know{
display: none;
}
.other_campaign_carousel a .content span.mob{
display: block;
width: 100%;
text-align: center;
text-transform: uppercase;
background-color: black;
color: white;
padding: 10px 15px;
}
.other_campaign_carousel a{
padding: 20px 10px 20px 20px;
margin-right: 20px;
}
}