article.user_form{
  width: 100%;
  margin: 0px auto;
  background-color: var(--blue);
  overflow: hidden;
  background-image: url('../images/mask.svg');
  background-repeat: repeat;
  background-size: 400px;
  background-attachment: fixed;
}
.user_form_left{
  float: left;
  width: 60%;
  min-height: 100vh;
  position: relative;
  background-color: var(--white);
}
.user_form_left .account-confirmation{
  display: none;
}
.user_form_left_true{
  padding: var(--item-space-4) var(--item-space-5) var(--item-space-5) var(--item-space-5);
}
.user_form_left:after{
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: -40px;
  height: 100%;
  width: 40px;
  background-image: url('../images/elipse.svg');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: right center;
}
.user_form_right{
  float: right;
  width: 40%;
}
.user_form_left .logo{
  padding: var(--item-space-2);
}
.user_form_left h1{
  margin-top: var(--item-space-1)!important;
  margin-bottom: var(--item-space-2)!important;
  font-family: var(--oswald);
  font-size: var(--title);
}
.user_form_left p{
  font-size: var(--body)!important;
}
.title.page-title{
  font-size: var(--title);
  text-align: center;
  font-family: var(--oswald);
  margin: 60px 0px 30px 0px;
}
#auth-popup .close{
  background-color: gray!important;
  background-image: url('../images/close.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}
#auth-popup h2{
  padding-top: 60px;
  font-size: var(--sub_title)!important;
  line-height: 1.5em;
}
#auth-popup h2,
#auth-popup p{
  margin: 0px auto 30px auto;
  font-size: var(--body);
}
.auth-popup-buttons{
  margin: 0px auto;
}
.auth-popup-buttons a{
  padding: 15px 30px!important;
  font-size: var(--body);
}
.messages__wrapper .messages__list{
  list-style: none!important;
}
.user_form p{
  font-size: var(--sub_title);
  text-align: center;
  margin: 0px 0px var(--item-space-2) 0px;
  line-height: 1.5em;
}
.user_form form img{
  width: 100%;
  margin-bottom: 30px;
}
.user_form h4{
  font-size: var(--detail);
  margin-top: 0px;
}
.user_form h4 a{
  float: right;
  display: inline-block;
  text-transform: none;
}
.user_form a{
  color: var(--lightblue);
}
.user_form a:hover{
  color: var(--lightpink);
  text-decoration: none;
}
.user_form a:focus{
  color: var(--lightblue);
}
.user_form h4.option{
  padding-left: 50px;
  line-height: 1.5em;
  font-size: var(--detail_min);
  text-transform: none;
  font-family: var(--ubuntu);
  font-weight: 400;
}
.user_form h4 span.password_text{
  position: relative;
  height: 16px;
  width: 30px;
  margin-top: -1px;
  display: block;
  float: left;
  transition: all 0.7s 0s ease;
}
.user_form h4 span.password_text strong{
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 10px;
  display: block;
  text-align: center;
  font-size: 0px;
  margin-top: 0px;
  font-style: italic;
  transition: all 0.7s 0s ease;
  background-image: url('../images/info.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.user_form h4 span.password_text p{
  width: 260px!important;
  height: auto;
  position: absolute;
  z-index: 4;
  left: 100%;
  display: none;
  padding: 15px;
  font-weight: 400;
  text-align: left;
  color: var(--black);
  text-transform: none;
  font-size: var(--detail_min)!important;
  background-color: var(--gray);
  border-radius: var(--default_radius);
  margin: -40px 0px 0px 10px;
  transition: all 0.7s 0s ease;
  line-height: 1.5em;
}
.user_form .password_text:hover p{
  display: block!important;
}
.user_form h4 span.password_text p:before{
  content: "";
  display: block;
  float: left;
  background-color: var(--gray);
  position: absolute;
  border-radius: 0px 0px 0px 0px;
  width: 25px;
  height: 25px;
  z-index: 3;
  bottom: 40px;
  left: -11px;
  -webkit-transform: rotate(45deg);
  border-left-width: 0px;
  border-top-width: 0px;
}
#auth-popup {
  padding: 200px 550px!important;
}
#auth-popup p{
  line-height: 1.5em;
}
.auth-popup-buttons a{
  text-transform: uppercase;
}
input.form-checkbox{
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 100%;
  border: 3px solid var(--gray)!important;
  border-radius: var(--radius_min);
  appearance: none;
  margin-left: 0px;
}
.form-checkboxes .form-type-checkbox input:checked + h4{
  border:3px solid var(--blue);
}
input.form-checkbox:checked{
  background-color: var(--blue);
  border: 3px solid var(--blue)!important;
  background-image: url('../images/check.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
._user_recuperar .js-form-type-email{
  width: 100%;
}
._user_registrar .js-form-item{
  overflow: inherit;
}
._painel_interesses .form-checkboxes .form-type-checkbox h4{
  background-color: var(--white);
  border-radius: var(--default_radius);
  border: 3px solid var(--gray);
  margin: 0px;
}
.form-checkboxes .form-type-checkbox h4 img{
  width: 100%;
}
.js-form-type-checkbox{
  position: relative;
}
.js-form-item{
  width: calc(50% - 15px);
  float: left;
  padding-bottom: var(--item-space-2);
  overflow: hidden;
  text-align: left!important;
}
.js-form-item h4{
  margin: 0px;
  margin-bottom: var(--item-space-1)!important;
  font-family: var(--ubuntu);
  text-transform: uppercase;
}
._painel_interesses .js-form-item h4{
  margin-bottom: 0px!important;
}
.js-form-item.js-form-type-checkbox{
  width: 100%;
  margin-left: 0px;
}
.js-form-item.js-form-type-checkbox a{
  display: inline;
  float: none;
}
.cep_infos{
  overflow: hidden;
  padding-bottom: 31px;
}
.cep_infos .js-form-item{
  width: 100%;
  padding-bottom: 5px;
}
.js-form-item:nth-child(2), 
.js-form-item:nth-child(4), 
.js-form-item:nth-child(6), 
.js-form-item:nth-child(8){
  margin-left: 30px;
  float: right;
}
._user_registrar .js-form-item:nth-child(2), 
._user_registrar .js-form-item:nth-child(4), 
._user_registrar .js-form-item:nth-child(6), 
._user_registrar .js-form-item:nth-child(8){
  margin-left: 0px;
  float: left;
}
._user_registrar .js-form-item:nth-child(3), 
._user_registrar .js-form-item:nth-child(5), 
._user_registrar .js-form-item:nth-child(7), 
._user_registrar .js-form-item:nth-child(9){
  margin-left: 30px;
  float: right;
}
._painel_entrega .js-form-item:nth-child(2),
._painel_entrega .js-form-item:nth-child(4),
._painel_entrega .js-form-item:nth-child(6),
._painel_entrega .js-form-item:nth-child(8),
._checkout_entrega .js-form-item:nth-child(2),
._checkout_entrega .js-form-item:nth-child(4),
._checkout_entrega .js-form-item:nth-child(6),
._checkout_entrega .js-form-item:nth-child(8){
  margin-left: 0px;
  float: left;
}
._painel_entrega .js-form-item:nth-child(3), 
._painel_entrega .js-form-item:nth-child(5), 
._painel_entrega .js-form-item:nth-child(7), 
._painel_entrega .js-form-item:nth-child(9),
._checkout_entrega .js-form-item:nth-child(3), 
._checkout_entrega .js-form-item:nth-child(5), 
._checkout_entrega .js-form-item:nth-child(7), 
._checkout_entrega .js-form-item:nth-child(9){
  margin-left: 30px;
  float: right;
}
input.form-email,
input.form-text,
input.form-date,
input.form-tel{
  width: 100%;
  font-size: var(--body);
  background-color: white;
  border: 3px solid var(--gray);
  border-radius: var(--default_radius);
  padding: var(--item-space-1);
  outline: 0px;
  height: 64px;
}
input.form-email:focus,
input.form-text:focus,
input.form-date:focus{
  border: 3px solid var(--blue);
}
._painel_identificacao input.form-email,
._painel_identificacao input.form-text#document,
._painel_identificacao input.form-date{
  background-image: url('../images/locked.svg');
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  background-size: 15px;
}
input.form-submit{
  padding: var(--item-space-1);
  border-radius: var(--default_radius);
  width: 100%;
  height: 64px;
  padding: var(--item-space-1);
  background-color: var(--blue);
  color: white;
  text-transform: uppercase;
  border: 0px;
}
input.form-submit:hover{
  background-color: var(--lightblue);
}
._user_confirmacao input.form-submit{
  width: auto!important;
  display: block;
  margin:0px auto;
}
div.messages.messages--error ul.messages__list,
div.messages.messages--status ul.messages__list{
  list-style: none !important;
  color: var(--red) !important;
  display: block;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
div.messages.messages--error ul.messages__list li,
div.messages.messages--status ul.messages__list li{
  font-size: var(--detail) !important;
  line-height: var(--line-height-2)!important;
}
div.messages.messages--error ul.messages__list li.messages__item{
  color: var(--white) !important;
  margin-bottom: var(--item-space-1);
  background-image: url(../images/warnning.svg)!important;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 9px;
  border-radius: var(--radius_min);
  padding: 10px 10px 10px 40px;
  background-color: var(--red);
}
div.messages.messages--status ul.messages__list li.messages__item{
  color: var(--white) !important;
  margin: 0px 0px var(--item-space-1) 0px;
  background-image: url(../images/check-white-default.svg)!important;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 9px;
  border-radius: var(--radius_min);
  padding: 10px 10px 10px 40px;
  background-color: var(--green);
}
.messages__wrapper {
  padding: 0px!important;
}
.default_content.checkout{
  width: 100%;
  max-width: 700px;
  margin: 80px auto var(--item-space-5) auto;
}
._checkout_confirmacao p,
.default_content.checkout p{
  font-size: var(--body);
  text-align: center;
  line-height: 1.5em;
  margin: 0px 0px 60px 0px;
}
._checkout_confirmacao p a,
.default_content.checkout p a{
  font-size: var(--body);
  color: var(--lightblue);
  text-transform: uppercase;
}
._checkout_confirmacao ul,
.default_content.checkout ul{
  margin: 0px;
  padding: 0px;
}
._checkout_confirmacao ul li,
.default_content.checkout ul li{
  line-height: 1.5em;
  font-size: var(--body);
  margin-bottom: 30px;
  list-style: none;
  text-align: left!important;
}
._checkout_confirmacao ul li{
  background-color: var(--gray);
  padding: var(--item-space-1);
  border-radius: var(--default_radius);
}
._checkout_confirmacao .default_content.checkout ul li:before{
  content: "";
  display: block;
  background-image: url('../images/warnning_2.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-top: 10px;
  float: left;
  background-repeat: no-repeat;
}
._checkout_confirmacao ul li a,
.default_content.checkout ul li a{
  font-size: var(--body);
  text-transform: uppercase;
  color: black;
}
._checkout_confirmacao img.confirmation-icon{
  width: 200px;
  height: 200px;
  display: block;
  margin:30px auto;
}
.messages:first-child{
  margin-top: 0px!important;
}
.default_content.checkout{
  width: 100%;
  display: block;
}
.checkout-breadcrumb{
  margin-top: 10px;
  height: 65px;
}
.checkout-breadcrumb-step{
  font-size: var(--body);
  display: block;
  text-align: center;
  float: left;
  position: relative;
  width: 30px;
  margin-right: calc(37% - 66px);
}
.checkout-breadcrumb-step:nth-child(4){
  margin-right: 0px;
}
.checkout-breadcrumb-step:before{
  content: "";
  display: block;
  float: right;
  position: absolute;
  left: 50%;
  width: 220px;
  background-color: var(--gray);
  height: 2px;
  margin-top: 13px;
}
.checkout-breadcrumb-step.active:before{
  background-color: var(--blue);
  content: "";
  display: block;
  float: right;
  position: absolute;
  left: 50%;
  width: 220px;
  height: 2px;
  margin-top: 13px;
}
.checkout-breadcrumb-step:last-child:before{
  display: none;
}
.checkout-breadcrumb-step span{
  border: 3px solid var(--gray);
  padding: 5px 5px;
  border-radius: var(--radius_min);
  background-color: var(--gray);
  position: relative;
  z-index: 4;
  display: block;
}
.checkout-breadcrumb-step.active span{
  background-color: var(--blue);
  color: white;
  border-color: var(--blue);
  z-index: 3;
  position: relative;
}
.checkout-breadcrumb-step strong{
  padding-top: 30px;
  transform: translateX(-50%);
  position: relative;
  margin-left: 55%;
  display: block;
  width: fit-content;
}
.owl-item.active a{
  opacity: 100%!important;
}
.owl-item a{
  opacity: 40%;
}
.qual_cep{
  display: block;
  width: 100%;
  text-align: right;
  float: left;
}
.qual_cep p{
  font-size: var(--body);
  margin: 0px!important;
  padding: 0px;
  text-align: right!important;
  width: auto!important;
}
.qual_cep p a{
  text-transform: inherit!important;
  color: var(--lightblue);
}
.form-checkout-interesses .js-form-item{
  margin: 0px 30px 30px 0px;
  padding: 0px!important;
  width: 116px!important;
}
.form-checkout-interesses .js-form-item:nth-child(5),
.form-checkout-interesses .js-form-item:nth-child(10),
.form-checkout-interesses .js-form-item:nth-child(15),
.form-checkout-interesses .js-form-item:nth-child(20),
.form-checkout-interesses .js-form-item:nth-child(25),
.form-checkout-interesses .js-form-item:nth-child(30),
.form-checkout-interesses .js-form-item:nth-child(35),
.form-checkout-interesses .js-form-item:nth-child(40),
.form-checkout-interesses .js-form-item:nth-child(45),
.form-checkout-interesses .js-form-item:nth-child(50),
.form-checkout-interesses .js-form-item:nth-child(55),
.form-checkout-interesses .js-form-item:nth-child(60),
.form-checkout-interesses .js-form-item:nth-child(65),
.form-checkout-interesses .js-form-item:nth-child(70),
.form-checkout-interesses .js-form-item:nth-child(75),
.form-checkout-interesses .js-form-item:nth-child(80),
.form-checkout-interesses .js-form-item:nth-child(85),
.form-checkout-interesses .js-form-item:nth-child(90),
.form-checkout-interesses .js-form-item:nth-child(95),
.form-checkout-interesses .js-form-item:nth-child(100){
  margin: 0px 0px 30px 0px;
}
select {
  background-image: url(../images/arrow.svg)!important;
  background-repeat: no-repeat;
  background-size: 14px!important;
  background-position: calc(100% - 20px);
  font-size: var(--body);
  width: 100%;
  height: 64px;
  border: 3px solid var(--gray);
  border-radius: var(--default_radius);
  -webkit-appearance: none;
  outline: 0px!important;
  padding: var(--item-space-1);
}
section.campaign .chckout-reminder{
  width: calc(100% - 40px);
  margin: 20px 20px;
}
.checkout-reminder{
  width: 100%;
  overflow: hidden;
  margin: 60px 0px 0px 0px;
  background-color: var(--gray);
  border-radius: var(--default_radius);
  padding: var(--item-space-1);
}
.checkout-reminder img{
  float: left;
  width: 61px;
  height: 60px;
  border-radius: var(--radius_min);
  margin-right: 15px;
}
.checkout-reminder-info{
  float: right;
  width: calc(100% - 115px);
}
.checkout-reminder-info h3{
  text-transform: uppercase;
  font-size: var(--body);
  font-weight: 400;
  margin:0px 0px 15px 0px;
}
.checkout-reminder-info-detail{
  font-size: var(--body);
}
.checkout-reminder-info-detail strong{
  font-size: var(--body);
  margin-right: 15px;
}
@media screen and (max-width: 1051px){
article.user_form{
max-width: none;
padding: 20px 20px 80px 20px;
background-color: var(--white);
background-image: none;
}
._painel_identificacao .form-actions.js-form-wrapper.form-wrapper{
width: 100%!important;
}
.user_form_left{
width: 100%;
}
.user_form_left h1{
margin-bottom: var(--item-space-1)!important;
}
.user_form_left p{
margin-bottom: var(--item-space-1);
}
.user_form_left .logo a img{
width: 240px;
max-width: 100%;
margin: 0px auto;
display: block;
}
.user_form_right{
width: 0%;
}
.user_form_left:after{
display: none;
}
.user_form_left_true,
.user_form_left .logo{
padding: 0px;
}
.user_form_left_true{
padding-top: var(--item-space-2)!important;
}
.user_form_left .account-confirmation{
display: block;
width: 200px;
margin: 0px auto 20px auto;
}
._user_confirmacao input.form-submit{
width: 100%!important;
}
.title.page-title{
margin-bottom: 10px;
}
input.form-checkbox:checked {
background-size: 14px;
}
.form-checkout-interesses .js-form-item{
margin: 0px 17px 20px 0px!important;
width: 100px!important;
}
.form-checkout-interesses .js-form-item:nth-child(3),
.form-checkout-interesses .js-form-item:nth-child(6),
.form-checkout-interesses .js-form-item:nth-child(9),
.form-checkout-interesses .js-form-item:nth-child(12),
.form-checkout-interesses .js-form-item:nth-child(15),
.form-checkout-interesses .js-form-item:nth-child(18),
.form-checkout-interesses .js-form-item:nth-child(21),
.form-checkout-interesses .js-form-item:nth-child(24),
.form-checkout-interesses .js-form-item:nth-child(27),
.form-checkout-interesses .js-form-item:nth-child(30),
.form-checkout-interesses .js-form-item:nth-child(33),
.form-checkout-interesses .js-form-item:nth-child(36),
.form-checkout-interesses .js-form-item:nth-child(39),
.form-checkout-interesses .js-form-item:nth-child(42),
.form-checkout-interesses .js-form-item:nth-child(45),
.form-checkout-interesses .js-form-item:nth-child(48),
.form-checkout-interesses .js-form-item:nth-child(51),
.form-checkout-interesses .js-form-item:nth-child(54),
.form-checkout-interesses .js-form-item:nth-child(57),
.form-checkout-interesses .js-form-item:nth-child(60),
.form-checkout-interesses .js-form-item:nth-child(63),
.form-checkout-interesses .js-form-item:nth-child(66),
.form-checkout-interesses .js-form-item:nth-child(69),
.form-checkout-interesses .js-form-item:nth-child(72),
.form-checkout-interesses .js-form-item:nth-child(75),
.form-checkout-interesses .js-form-item:nth-child(78),
.form-checkout-interesses .js-form-item:nth-child(81),
.form-checkout-interesses .js-form-item:nth-child(84),
.form-checkout-interesses .js-form-item:nth-child(87),
.form-checkout-interesses .js-form-item:nth-child(90),
.form-checkout-interesses .js-form-item:nth-child(93),
.form-checkout-interesses .js-form-item:nth-child(96),
.form-checkout-interesses .js-form-item:nth-child(99){
margin: 0px 0px 20px 0px!important;
}
.js-form-item,
.cep_infos{
width: 100%;
padding-bottom: 0px;
margin-bottom: var(--item-space-2);
}
.checkout-reminder-info h3{
margin: 0px 0px 10px 0px;
}
.checkout-reminder-info-detail strong{
display: block;
}
.js-form-item:nth-child(even){
margin-left: 0px;
}
.checkout-breadcrumb{
width: calc(160% + 0px);
margin-right: 0px;
}
.checkout-breadcrumb-step {
width: 25%;
margin-right: 0%;
}
.checkout-breadcrumb-step:before {
width: calc(50vw - 0px)!important;
margin-top: 18px;
left: 0px;
}
.checkout-breadcrumb-step strong{
display: none;
padding-top: 10px;
transform: translateX(-50%);
position: relative;
margin-left: 25%;
}
.checkout-breadcrumb-step span{
width: 50%;
}
.checkout-breadcrumb.step-two-active .checkout-breadcrumb-step:nth-child(2) strong,
.checkout-breadcrumb.step-three-active .checkout-breadcrumb-step:nth-child(3) strong,
.checkout-breadcrumb.step-four-active .checkout-breadcrumb-step:nth-child(4) strong{
display: block!important;
}
.checkout-breadcrumb.step-three-active {
margin-left: calc(-40% + 0px);
}
.checkout-breadcrumb.step-four-active {
margin-left: calc(-80% + 0px);
}
.user_form h4.option{
padding-left: 40px;
}
input.form-checkbox {
width: 24px;
height: 24px;
border-radius: var(--radius_min);
margin-top: 6px;
}
.default_content.checkout ul li:before{
width: 20px;
height: 20px;
margin-right: 10px;
margin-top: 25px;
padding-bottom: 44px;
}
.messages:first-child{
margin: 0px!important;
}
.user_form form img{
margin-bottom: 20px;
}
.cep_infos .js-form-item{
margin-left: 0px;
width: 100%;
margin-bottom: 5px;
}
.qual_cep p{
text-align: left!important;
}
#auth-popup.active{
padding: 40px 20px!important;
}
#auth-popup h2{
padding-top: 60px;
}
#auth-popup h2, #auth-popup p {
margin: 0px auto 20px auto;
}
.auth-popup-buttons a{
width: 100%;
margin: 0px 0px 20px 0px!important;
padding: 5px 10px!important;
}
._checkout_confirmacao section{
width: 100%;
max-width: 100%;
margin: 0px;
} 
.default_content.checkout{
max-width: calc(100% - 40px);
margin: 60px 20px;
}
._checkout_confirmacao img.confirmation-icon,
._checkout_confirmacao p, .default_content.checkout p,
._checkout_confirmacao ul li, .default_content.checkout ul li{
margin-bottom: 20px;
}
.checkout-reminder{
margin: 40px 0px 0px 0px;
}
}
@media screen and (max-width: 300px){
:root{
--title: 25px;
--sub_title: 16px;
--body: 14px;
--detail: 10px;
--item-space: 30px;
--line-height: 1em;
--red: #AA0000;
--green: #00AA00;
--white: #ffffff;
}
.user_form h4 span.password_text p {
width: 210px!important;
left: -4%;
}
.about_menu {
width: 42px;
}
.about_menu li {
padding: 10px 10px 10px 10px;
}
.steps_about p {
font-size: var(--detail);
}
.about_menu li:nth-child(4) {
padding: 15px 15px 35px 15px!important;
}
.about_content h1, .policy_content h1, .questions_content h1 {
width: calc(100% - 42px);
margin: 0px 0px 20px 42px!important;
}
.about_content .brands_logo{
grid-template-columns: 1fr 1fr;
}
.about_content .brands_logo div {
width: 90px;
}
.follow_up_mobile{
padding: 10px;
}
.follow_up_mobile a.login_link, header.menu .hello_unlogged a.login_link,
.follow_up_mobile a.create_link, header.menu .hello_unlogged a.create_link{
padding: 5px 10px;
font-size: 10px;
}
.image_about, .about_content p, 
.about_content h2, 
.about_publications, 
.policy_content p, 
.policy_content h2, 
.policy_content .update,
.question{
width: calc(100% - 42px)!important;
}
.steps_about span {
padding: 6px 7px!important;
left: -6px;
top: -5px;
}
.about_content .steps_about p{
padding:15px;
}
.steps_about.two span, .steps_about.four span {
top: -5px;
right: -6px;
}
.checkout-reminder-info{
width: 100%;
}
.checkout-reminder-info h3{
width: 100%;
margin-top: 15px;
}
.checkout-reminder img{
margin-right: 0px;
margin-right: 0px;
width: 100%;
height: 100%;
}
.form-checkboxes .form-type-checkbox h4,
.form-checkboxes .form-type-checkbox{
height: 90px!important;
width: 90px!important;
line-height: 90px!important;
}
.about_menu.active {
width: 200px;
}
.about_menu.active li {
padding: 10px;
}
.about_menu.active li:nth-child(1) a span{
padding-top: 5px;
}
.about_menu.active li a span {
font-size: var(--detail);
padding-left: 0px;
padding-top: 0px;
}
.about_menu.active li span.close{
font-size: var(--detail);
}
.about_menu li a:after{
width: 20px!important;
height: 20px!important;
}
.about_menu li span.management_menu{
margin-top: 0px;
width: 17px;
height: 22px;
padding-left: 0px;
background-size: 80%;
}
.follow_up_mobile div a{
background-size: 24px!important;
height: 27px!important;
}
.steps_about img {
width: 120px;
margin-left: 42px;
margin-right: 20px;
}
.created_account_div {
text-align: right;
padding-right: 10px;
}
.about_content .brands_logo div {
width: 62px;
}
.about_content .steps_about p{
width: calc(100% - 42px)!important;
}
.about_content .brands_logo {
width: calc(100% - 42px)!important;
margin-left: 42px!important;
}
.about_menu.active li span.close{
padding-left: 3px;
padding-top: 5px;
}
.about_menu.active li span.management_menu {
margin-left: 2px;
}
.about_menu.active li:nth-child(4) {
padding: 10px 0px 35px 7px!important;
}
.about_content .steps_about p {
margin: var(--item-space-1) 0px 0px 42px!important;
}
.about_menu li:nth-child(4) {
padding: 10px 0px 30px 10px!important;
}
.steps_about p:before {
width: 20px;
height: 20px;
top: -8px!important;
left: 70px!important;
}
.form-checkout-interesses .js-form-item:nth-child(2),
.form-checkout-interesses .js-form-item:nth-child(4),
.form-checkout-interesses .js-form-item:nth-child(6),
.form-checkout-interesses .js-form-item:nth-child(8),
.form-checkout-interesses .js-form-item:nth-child(10),
.form-checkout-interesses .js-form-item:nth-child(12),
.form-checkout-interesses .js-form-item:nth-child(14),
.form-checkout-interesses .js-form-item:nth-child(16),
.form-checkout-interesses .js-form-item:nth-child(18),
.form-checkout-interesses .js-form-item:nth-child(20),
.form-checkout-interesses .js-form-item:nth-child(22),
.form-checkout-interesses .js-form-item:nth-child(24),
.form-checkout-interesses .js-form-item:nth-child(26),
.form-checkout-interesses .js-form-item:nth-child(28),
.form-checkout-interesses .js-form-item:nth-child(30),
.form-checkout-interesses .js-form-item:nth-child(32),
.form-checkout-interesses .js-form-item:nth-child(34),
.form-checkout-interesses .js-form-item:nth-child(36),
.form-checkout-interesses .js-form-item:nth-child(38),
.form-checkout-interesses .js-form-item:nth-child(40),
.form-checkout-interesses .js-form-item:nth-child(42),
.form-checkout-interesses .js-form-item:nth-child(44),
.form-checkout-interesses .js-form-item:nth-child(46),
.form-checkout-interesses .js-form-item:nth-child(48),
.form-checkout-interesses .js-form-item:nth-child(50),
.form-checkout-interesses .js-form-item:nth-child(52),
.form-checkout-interesses .js-form-item:nth-child(54),
.form-checkout-interesses .js-form-item:nth-child(56),
.form-checkout-interesses .js-form-item:nth-child(58),
.form-checkout-interesses .js-form-item:nth-child(60),
.form-checkout-interesses .js-form-item:nth-child(62),
.form-checkout-interesses .js-form-item:nth-child(64),
.form-checkout-interesses .js-form-item:nth-child(66),
.form-checkout-interesses .js-form-item:nth-child(68),
.form-checkout-interesses .js-form-item:nth-child(70),
.form-checkout-interesses .js-form-item:nth-child(72),
.form-checkout-interesses .js-form-item:nth-child(74),
.form-checkout-interesses .js-form-item:nth-child(76),
.form-checkout-interesses .js-form-item:nth-child(78),
.form-checkout-interesses .js-form-item:nth-child(80),
.form-checkout-interesses .js-form-item:nth-child(82),
.form-checkout-interesses .js-form-item:nth-child(84),
.form-checkout-interesses .js-form-item:nth-child(86),
.form-checkout-interesses .js-form-item:nth-child(88),
.form-checkout-interesses .js-form-item:nth-child(90),
.form-checkout-interesses .js-form-item:nth-child(92),
.form-checkout-interesses .js-form-item:nth-child(94),
.form-checkout-interesses .js-form-item:nth-child(96),
.form-checkout-interesses .js-form-item:nth-child(98),
.form-checkout-interesses .js-form-item:nth-child(100){
margin-right: 0px!important;
}
}